html{width:100%;height:100%}
body{overflow:auto;width:100%;height:100%;-webkit-text-size-adjust:none;-webkit-overflow-scrolling:touch}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,input{margin:0;padding:0; box-sizing:border-box}
body,input,textarea,select,button,table{font-family:'AppleGothicNeoSD','Apple SD 산돌고딕 Neo','Microsoft NeoGothic','Droid sans',sans-serif;color:#5c5c5c;color:#333;font-size:14px}
fieldset,img{border:0}
ul,ol,li,dl,dt,dd{list-style:none}
address,var,em,dfn,strong,i{font-style:normal}
table{ border:0;border-collapse:collapse;border-spacing:0}
caption,legend{display:none;width:0;height:0;font-size:0;line-height:0}
button{border:0;background:none}
body{min-width:1024px}
a{text-decoration:none;color:#333;outline:none; cursor:pointer}
a:hover{text-decoration:underline;}

input[type=text],
input[type=number],
input[type=password]{height:30px;padding :0 10px;border:1px solid #C4C4C4;vertical-align: middle;border-radius: 4px;}
input[type=text]:focus,
input[type=number]:focus,
input[type=password]:focus,
textarea:focus,select:focus{border-color:#24B395;outline: none;}
textarea{
    border:1px solid #C4C4C4;border-radius: 4px;
    resize: none;
    height: 50px;
    padding: 10px;
}
textarea.full{
    width: 100%;
    height: 100%;
}
input[type=radio], input[type=checkbox]{vertical-align: middle; display:inline-block; width:14px;height:14px;}
input[type=radeo] + label, input[type=checkbox] + label{
    line-height: 1;
}
input.date{text-align:center; width:100px;padding:0}
input.datetime{text-align:center; width:200px;padding:0}
label{cursor: pointer;}
.cl:after{content:"";display:block;clear:both}
.fl{float:left}
.fr{float:right}
.w100{width:100%}
.w_post{width:60px;text-align:center}
.w_addr_1{width:300px}
.w_addr_2{width:400px}

.hidden{overflow:hidden;width:0;height:0;font-size:0;line-height:0;color:transparent;white-space:nowrap}
.button{
    outline: none;
    border-color:#24B395;
}
select{height:30px;min-width:100px; border:1px solid #C4C4C4 ;vertical-align: middle}
select[multiple] option{padding:2px 10px;}
#loading{position: fixed;top:0;left:0;bottom:0;right:0; background:rgba(0,0,0,0.5) url(/resources/images/loading.gif) center center no-repeat;z-index:3000; background-size:100px 100px}
header{
    position:fixed;
    width:100%;
    height:40px;
    line-height:40px;
    z-index:100;
    padding-left: 200px;
    align-items: center;
    background-color: #141e3b;
 }
header h1{}
header .info{position: absolute; top:50%; right:20px;transform: translateY(-50%);color:#fff;}
/* header .info span{line-height: 24px;} */
header .info .button{margin-left: 10px;text-align: center;line-height: 24px;padding:0;height: 24px;}
header ul li{float:left;height:100%;margin-right:20px;}
header ul li a{display:inline-block; color:#fff;opacity: 0.8;box-sizing: border-box;line-height:40px;padding: 0 10px;}
header ul li a.current{font-weight:bold;opacity: 1;background-color: #24B395;}
header ul li a:hover{border-bottom:2px solid #fff;color:#fff;}
header .button{background: #fff;color: #333;font-weight: 900;}
header .button:hover{
    background: #fff;
    color: #333!important;
}

#container{position: absolute; top: 60px; left: 20px; right: 20px; bottom: 0;min-width:1024px}
#container side{position: fixed;left:20px;width:200px;}
#container side h2{margin-top:20px;padding-bottom:10px;font-size:20px; text-align:center;border-bottom:2px solid #24B395}
#container side h2:first-child{margin-top:0}
#container side >ul{margin-top:10px}
#container side li a{display:block;}
#container side li a.current{color:#24B395;font-weight:bold}
#container side li a:hover{text-decoration: underline }
#container #content{position:relative;margin-left:230px;padding-bottom: 30px;}
#container #content.main{
    margin-left: 0;
}
.index #container #content{margin-left:0}
footer{position:fixed; bottom:0; left:0;right:0;height:50px;background-color:#C4C4C4;text-align:center;z-index:100}
button{cursor: pointer;}
 .button, .btn{display:inline-block;padding:8px;border-radius: 4px;line-height: 1;min-width: 64px;text-align: center;}
.button_a, .btn_a{background-color:#24B395;color:#fff;border: 1px solid #24B395;}
.button_b, .btn_b{background-color:#666;color:#fff;border: 1px solid #666;}
.button_c, .btn_c{background-color:#e7e7e7;color:#333;border: 1px solid #C4C4C4;}
.button_d, .btn_d{background-color:#fbb25c;color:#fff;border: 1px solid #fbb25c;}
.button_e, .btn_e{background-color:#0c4352;color:#fff;border: 1px solid #0c4352;}
.button_f, .btn_f{background-color:#0a91ff;color:#fff;border: 1px solid #0a91ff;}
.button_n, .btn_n{
    background-color:#f01847;color:#fff;border: 1px solid #f01847;
}
.button:hover{
    opacity: 0.7;
}
.button_g, .btn_g{background-color:#000;color:#fff;border: 1px solid #000;}

.btn_w{border:1px solid #C4C4C4;color:#C4C4C4}
.button_big,.btn_big{padding:16px 20px; }

.ac{text-align:center}
.al{text-align:left !important }
.btn_area{margin-top:10px;overflow: hidden;}
.btn_area_right{margin:10px 0 20px 0;float:right;position:relative;z-index:30}
.btn_area .left{float:left;}
.btn_area .right{float:right;}
.btn_area_top_right{margin-bottom:5px;text-align:right}
.btn_area_top_right .total{line-height:30px;font-weight:bold}
/* 로그인 */
.login_area{display:table;position:absolute;
     top:50%; left:50%;
     -ms-transform: translate(-50%,-50%);
     -webkit-transform: translate(-50%,-50%);
     transform: translate(-50%,-50%);
 }

.login_area .left{position:relative;display:table-cell;padding:20px 0 0 20px; width:200px;background-color: #141e3b;color:#fff}
.login_area .input_box{overflow: hidden;border: 1px solid #c4c4c4;min-width: 587px;
}
.login_area .pic-area{
    float: left;
    width: 285px;height: 297px;
    background: url('../images/login-bg.png');
    background-size: contain;
}
.login_area .area{float:left;width:300px;margin:10px auto;padding: 34px 20px;}
.login_area .area .text{width:100%;height: 46px;
line-height: 46px;}
.login_area .area div{margin:10px 0;}
.login_area .area .check_area{margin-bottom:20px;text-align: right}
.check_area {display: inline-block;}
.check_area input{position: relative;bottom:3px;}
.login_area .button_big{width:100%}
/*dashboard*/
.today_area > div{float:left; width:24%; padding:10px;margin-right:1%;border:1px solid #000}
.today_area > div:last-child{margin-right:0; width:25%}
.today_area .t{height:50px;color:#000; font-size:18px;font-weight:bold}
.today_area .info{color:#222}
.today_area .grp{position:relative;height:5px;width:100%;margin-top:5px;background-color: #C4C4C4;}
.today_area .grp span{position: absolute;top:0;left:0;height:100%;}
.today_area .a .t{background:url(/images/today_1.png) right 0 no-repeat}
.today_area .b .t{background:url(/images/today_2.png) right 0 no-repeat}
.today_area .c .t{background:url(/images/today_3.png) right 0 no-repeat}
.today_area .d .t{background:url(/images/today_4.png) right 0 no-repeat}
.today_area .a .grp span{background-color:#89c317 }
.today_area .b .grp span{background-color:#0a91ff }
.today_area .c .grp span{background-color:#fbb25c}
.today_area .d .grp span{background-color:#24B395 }
.order_display{margin:20px 0;  padding: 10px 20px; border:1px solid #000}
#content .order_display h3{margin:10px 0}
.order_display th, .order_display td{border:0;text-align:center}
.order_display table{border-top:2px solid #000}
.order_display table tr{ border-bottom:1px solid #000;}
.order_display .g{min-height:200px}
/*타이틀 설정*/
#content h2{font-size:26px;margin:30px 0 10px;}
#content h2:first-child{margin-top: 0}
#content h3{font-size:16px; margin:20px 0 10px;}
table{width:100%}
table th, table td{height:35px; padding:6px ;border:1px solid #ddd }
table th{padding:5px 10px;text-align:left;background-color:#f4f4f4;font-weight: 600;}
table thead th{text-align:center}
table td *{vertical-align: middle}
table td {color: #646464;}
table td label{display:inline-block;margin-right:10px}
table .display{width:100px;height:100px;}
table .w_price{width:100px;text-align:center}
table .date_select_area{margin-top:10px; }
table .date_select_area button{margin-left:10px}
table.list_table td{text-align:center}
table.list_table td#alignLeft{text-align:left}
table.list_table .title{text-align: left}
table.list_table td.img{padding:5px 10px}
table.list_table td.img img{width:50px;height:50px;}
table.list_table .grp{width:100px;height:30px}
.table_center th, .table_center td{text-align:center}

.search_table th,
.search_table td{font-size: 13px;}
.search_table th{text-align: center;}
.search_table td.border_none{border-right:0}
.search_table td:last-child{border-left:0 !important}
.search_table .time select{min-width:auto}
.cat_table .cat_list{height:100px;width:100%; overflow-y:auto;border:1px solid #C4C4C4}
.cat_table .cat_list option{padding:2px 10px}
.cat_table td{border-right:0;}
.cat_table .btn_area button{width:100px;margin-bottom:5px;}
.cat_table .btn_area button:last-child{margin-bottom:0;}
.cat_table tr td:last-child{border-left:0}
.option_table{position: relative;padding-right:100px;}
.option_table .add{position:absolute; top:5px; right:5px;width:80px}
.option_table .add button{width:100%;margin-bottom:5px}
.page {position:relative;margin :20px 0 10px 0;text-align:center}
.page *{vertical-align: middle}
.page .page_inner em, .page .page_inner a{display:inline-block;height:30px;line-height:30px; padding:0 10px;border:1px solid #ddd; opacity: 0.5;}
.page .page_inner > span{display:inline-block;}
.page .page_inner em{border-color:#24B395; color:#24B395; opacity: 1;font-weight:bold}
.page .page_inner > a,
.page .page_inner a:hover{opacity: 1;}

/*edit*/
.edit_area{height:400px;padding:0}
/*popup*/
#mask{position: fixed;top:0;left:0;bottom:0;right:0;z-index:100; background:rgba(0,0,0,0.5)}
.popup{position:absolute; top:50%; left:50%; min-width:500px;transform: translate(-50%,-50%); margin:0 auto;padding:20px;background-color:#fff}
.popup h1,
.popup h2{padding:0 0 10px 0;margin-bottom:20px;border-bottom:2px solid #000;font-size:20px}
.popup h2{margin-top:30px}
.popup h2:first-child{margin-top:0}
.popup .scroll_area{  height: 240px;;overflow-y:auto}
.popup .close{position: absolute; top:10px; right:10px; width:30px;height:30px;font-size: 28px;padding:0; font-family: Arial, Helvetica, sans-serif}
.popup .img_grp{ margin-top: 20px; border:1px solid #C4C4C4;  text-align:center; width:560px; height:390px;}
.popup .img_grp img{}
#popup_select{width:500px;}
#popup_select .sub{font-weight:bold;}
#popup_select .sub:after{content:" +";font-size:16px;}
#popup_select .sub.open:after{content:" -"}
#popup_select .level {display:none;}
#popup_select .level .title{padding-left:20px;}
/*popup 상품선택*/
#popup_good_select .scroll_area{margin-top:30px;height:175px}
#popup_good_select  .add {background-color:#278eab;color:#fff}
#popup_good{top:20px;left:20px;right:20px;bottom:20px;width:auto; transform: translate(0,0);overflow-y:auto; }

#popup_window{min-width:auto;padding:30px 20px;}
#popup_window h1{margin-bottom:20px}
/*카테고리 관리*/
.category_area{height:100%;margin-top:-37px;padding-top:37px;}
.category_area .fl.list{width:40%;height:100%;overflow-y:auto;border:1px solid #C4C4C4; padding:30px;}
.category_area .fr.view{width:60%;height:100%;padding:30px;overflow-y:auto}
.category_area .fl ul a{display:inline-block; height:30px;text-decoration: none; line-height: 30px;}
.category_area .fl  a.level:before{content:"▼";margin-right:5px}
.category_area .fl  a.level.on:before{content:"▲";}
.category_area .fl ul ul{margin-left:50px;}
.category_area .fl ul ul ul{display:none}
.category_area h3{margin-bottom:20px}

/* 테이블 길 경우*/
.table_scroll{overflow-x:auto}
.order_table tr:hover{background-color:#ddd;cursor:pointer}
/*달력*/
body .ui-datepicker .ui-datepicker-title select{min-width:auto ;height:auto}
body .ui-datepicker td{height:auto}
body .ui-datepicker-trigger{width:22px;height:auto;margin-left:5px;}
.trabo-logo{
    position: absolute; top:9px; left:20px;
}
.trabo-logo a{
    display: block;
    width: 100%;
    height: 100%;
}
.trabo-logo a img{
    width: 80px;
}
.select_de_wi{float:right;}
.tbl .tbl_filter{
    margin-bottom: 10px;
}
.col_box{
    margin: 10px 0;
    overflow: hidden;

}
.col_box span,p,h3{
    display: inline-block;
    line-height: 30px;
}
#content .col_box h3{
    margin: 0;
}
.col_box.right{
    text-align: right;
}
.col_box .col_box_inner_l{
    float: left;
}
.col_box_inner_l h2{
    display: inline-block;
}
.col_box .col_box_inner_r{
    float: right;
}
.col_box.left{
    text-align: left;
}
.col_box.center{text-align: center;}
.col_box .col_box_inner_c{
    display: inline-block;
}



table td.filter_search{
    border-left: none;
}
.filter_search .button{
    float: right;
}
.filter_search .filter_search_wrap{
    overflow: hidden;
}


.menu_loacation{
    overflow: hidden;
}
.menu_loacation li{
    float: left;
}
.menu_loacation li a{
    font-size: 12px;
}
.menu_loacation li+li::before{
    content: '>';
    font-size: 12px;
    color: #c4c4c4;
    margin: 0 4px;
}

.datepicker-wrap{
    margin-right: 4px;
}
.side_inner{
    box-shadow: 2px 3px 6px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 6px 14px;
}

.lnb-dep{
    font-size: 18px;
    line-height: 30px;
}
.lnb-dep2 > li{
    line-height: 40px;
}
.lnb-dep2 > li + li {
  border-top: 1px solid #c4c4c4;
}

.lnb-dep2 > li > a {
  color: #333333;
  font-weight: 600;
  position: relative;
}



/* .lnb-dep2 > li.more > a:after {
  content: '';
  display: block;
  width: 10px;
  height: 6px;
  background: url("../images/ico-filter-ar-b.png") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  position: absolute;
  right: 0px;
  top: 0;
  bottom: 2px;
  margin: auto;
}

.lnb-dep2 > li.more.on > a:after {
  background: url("../images/ico-filter-ar-t.png") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
} */

.lnb-dep2 > li.on > a {
  color: #24B395;
  font-weight: bold;
}

.lnb-dep2 > li.on > a + .lnb-dep3 {
  display: block;
}

.lnb-dep3 {
  display: none;
  padding-bottom: 10px;
}

.lnb-dep3 > li {
  line-height: 28px;
}

.lnb-dep3 > li:hover > a {
  color: #24B395;
}

.lnb-dep3 > li.on > a {
  color: #24B395;
  font-weight: bold;
}

.lnb-dep3 > li > a {
  font-size: 13px;
  color: #666666;
}

.lnb-dep3 > li > a:before {
  content: '';
  display: inline-block;
  width: 2px;
  height: 2px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #666666;
  vertical-align: middle;
  margin-right: 9px;
  position: relative;
  bottom: 2px;
}

.tbl table th.left,
.tbl table td.left{
    text-align: left;
}

.tbl table th.center,
.tbl table td.center{
    text-align: center;
}

.tbl table th.right,
.tbl table td.right{
    text-align: right;
}


.txt-list-tab,.link-list-tab {
  padding-top: 6px;
  padding-bottom: 10px;
}

.txt-list-tab ul,.link-list-tab ul {
  *zoom: 1;
  display: block;
}

.txt-list-tab ul:after ,.link-list-tab ul:after{
  content: '';
  display: block;
  clear: both;
}

.txt-list-tab ul li ,.link-list-tab ul li{
  float: left;
}

.txt-list-tab ul li + li ,.link-list-tab ul li + li{
  margin-left: 16px;
}

.txt-list-tab ul li a ,.link-list-tab ul li a{
  color: #969BA1;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
}

.txt-list-tab ul li.on a ,.link-list-tab ul li.on a{
  color: #141E3B;
  position: relative;
}

.txt-list-tab ul li.on a:before ,.link-list-tab ul li.on a:before{
  content: '';
  display: block;
  width: 28px;
  height: 2px;
  margin-bottom: 8px;
  background: #141E3B;
  position: absolute;
  top: -8px;
  left: 0;
}

.icon-input{
    overflow: hidden;
}
.icon-input input{
    float: left;
    width: 100%;
    max-width: 500px;
    padding-left: 30px;
}
.icon-inpu a{
    float: left;
}
.search-ico{
    display: block;
    text-indent: -9999px;
    width: 30px;
    height: 30px;
    position: relative;

}
.search-ico:before{
    content: '';
    background: url('../images/ico-search.png');
    background-size: contain;
    display: block;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom:0;
    margin: auto;
    width: 16px;
    height: 16px;
}
.img-preview img{
    width: 200px;
}
.img-preview+.button{
    margin-top: 10px;
}
b{
    font-weight: 900;
    color: #000;
}


.modal {
  padding: 16px;
  position: relative;
  min-width: 100%;
  max-width: 100%;
  display: none;
  position: fixed;
  top: 50%;
  z-index: 99999;
  word-wrap: break-word;
}

.modal-inner {
  position: relative;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #fff;
  padding: 16px;
  -webkit-box-shadow: 2px 3px 6px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 3px 6px 2px rgba(0, 0, 0, 0.1);
  max-width: 960px;
  margin: auto;
}




.modal-header {
  color: #000;
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 6px;
  padding-bottom: 20px;
}


.modal-controller {
  position: absolute;
  top: 10px;
  right: 10px;
}

.modal-controller .ico-close:before {
  width: 15px;
  height: 15px;
}

.modal-body {
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 500px;
}

.modal-body .modal-cont + .modal-cont {
  margin-top: 16px;
}

.modal-body.scroll {
  overflow-y: auto;
  overflow-x: hidden;
}

.modal-body p {
  line-height: 1.4;
}


.modal-footer {
  text-align: center;
  padding-top: 20px;
}

.modal-footer:after {
  content: '';
  display: block;
  clear: both;
}

.modal-footer .row{
    display: inline-block;
}
.modal-footer .row .button+.button{
    margin-left: 4px;
}

.ico {
  display: inline-block;
  text-indent: -9999px;
  position: relative;
  width: 34px;
  height: 34px;
}

.ico:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.ico-tooltip:before {
  width: 16px;
  height: 16px;
  background: url("../images/ico-tooltip.png") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

.ico-setting:before {
  width: 24px;
  height: 24px;
  background: url("../images/ico-settings.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
}

.ico-close:before {
  width: 18px;
  height: 18px;
  background: url("../images/ico-close-b.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
}

.ico-close-w:before {
  width: 16px;
  height: 16px;
  background: url("../images/ico-close-w.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
}

.ico-al:before {
  width: 7px;
  height: 12px;
  background: url("../images/ico-arrow-l.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
}

.ico-ar:before {
  width: 7px;
  height: 12px;
  background: url("../images/ico-arrow-r.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
}
.tbl+.tbl{
    margin-top: 40px;
}
.tbl .button+.button{
    margin-left: 4px;
}
.tbl + .link-list-tab,
.tbl + .txt-list-tab{
    margin-top: 40px;
}

.el-vertical + .el-vertical{
    margin-top: 6px;
}
.page + .tbl{
    margin-top: 40px;
}
.tbl-fix{
    overflow-y: scroll;
}
.tbl-sroll{
    height: 240px;
    overflow-y: auto;
    border-bottom: 1px solid #ddd;
}
.tbl+.col_box{
    margin-top: 30px;
}

em.red{
    color: #f01847;
}
em.blue{
    color: #0a91ff;
}

.dim {
  display: none;
  position: fixed;
  z-index: 99998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(21, 23, 31, 0.4);
  -webkit-filter: blur(10);
  filter: blur(10);
}

.datepicker-icon{
    /* 1226 */
    text-indent: -9999px;
    display: inline-block;
    background: url('../images/calendar.png') no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
}
