@charset "UTF-8";

*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
:after, :before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0}
dl,ul,ol,menu,li {list-style:none}
address, caption, cite, code, dfn, em, var {font-style:normal;}
img,fieldset,iframe {border:0 none}
img {max-width: 100%;height: auto;-webkit-backface-visibility: hidden;}
audio,canvas,iframe,img,svg,video {vertical-align: middle;}
input,select,textarea,button {vertical-align:middle}
textarea {resize:none}
input::-ms-clear {display:none}
button {border:0 none;background-color:transparent;cursor:pointer}
button, input[type='button'], input[type='submit'], input[type='reset'], input[type='file'] {border-radius:0;-webkit-appearance:button}
input[type="image"], input[type="text"], input[type="submit"], input[type="password"], input[type='search'] {border-radius:0;-webkit-appearance:none}
input:checked[type='checkbox'] {-webkit-appearance:checkbox;background-color:transparent}
input[type='search']::-webkit-search-cancel-button {-webkit-appearance:none}
table {border-collapse:collapse;border-spacing:0;empty-cells:show}
caption,legend {position:absolute;top:-9999px;left:-9999px;font-size:0px;line-height:0}
a {text-decoration:none;select-dummy:expression(this.hideFocus=true)}
// a:active {background-color:transparent}
body,h1,h2,h3,h4,h5,h6,th,td,input,select,textarea,button {/* font family, letter-spacing etc...*/}
hr {display:none}
textarea, input{-webkit-apperence: none;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,main,menu {display:block}
blockquote,q {quotes:none}
blockquote:before,blockquote:after,q:before,q:after {content:'';content:none}
sup, sub{line-height: 0;}
html, body {width:100%;}
ul:after, ol:after{content:'';clear:both;display:block}


@font-face {
  font-family: Roboto;
  src: url("../fonts/Black/Roboto-Black.woff2?v=2.137") format("woff2"), url("../fonts/Black/Roboto-Black.woff?v=2.137") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/BlackItalic/Roboto-BlackItalic.woff2?v=2.137") format("woff2"), url("../fonts/BlackItalic/Roboto-BlackItalic.woff?v=2.137") format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Bold/Roboto-Bold.woff2?v=2.137") format("woff2"), url("../fonts/Bold/Roboto-Bold.woff?v=2.137") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Bold/Roboto-Bold.woff2?v=2.137") format("woff2"), url("../fonts/Bold/Roboto-Bold.woff?v=2.137") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/BoldItalic/Roboto-BoldItalic.woff2?v=2.137") format("woff2"), url("../fonts/BoldItalic/Roboto-BoldItalic.woff?v=2.137") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/BoldItalic/Roboto-BoldItalic.woff2?v=2.137") format("woff2"), url("../fonts/BoldItalic/Roboto-BoldItalic.woff?v=2.137") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Medium/Roboto-Medium.woff2?v=2.137") format("woff2"), url("../fonts/Medium/Roboto-Medium.woff?v=2.137") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/MediumItalic/Roboto-MediumItalic.woff2?v=2.137") format("woff2"), url("../fonts/MediumItalic/Roboto-MediumItalic.woff?v=2.137") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Regular/Roboto-Regular.woff2?v=2.137") format("woff2"), url("../fonts/Regular/Roboto-Regular.woff?v=2.137") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Regular/Roboto-Regular.woff2?v=2.137") format("woff2"), url("../fonts/Regular/Roboto-Regular.woff?v=2.137") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Italic/Roboto-Italic.woff2?v=2.137") format("woff2"), url("../fonts/Italic/Roboto-Italic.woff?v=2.137") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Italic/Roboto-Italic.woff2?v=2.137") format("woff2"), url("../fonts/Italic/Roboto-Italic.woff?v=2.137") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Light/Roboto-Light.woff2?v=2.137") format("woff2"), url("../fonts/Light/Roboto-Light.woff?v=2.137") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/LightItalic/Roboto-LightItalic.woff2?v=2.137") format("woff2"), url("../fonts/LightItalic/Roboto-LightItalic.woff?v=2.137") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Thin/Roboto-Thin.woff2?v=2.137") format("woff2"), url("../fonts/Thin/Roboto-Thin.woff?v=2.137") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/ThinItalic/Roboto-ThinItalic.woff2?v=2.137") format("woff2"), url("../fonts/ThinItalic/Roboto-ThinItalic.woff?v=2.137") format("woff");
  font-weight: 100;
  font-style: italic;
}


.header {
    background-color: #141e3b;
    position: fixed;
    width: 100%;
    height: 93px;
    line-height: 93px;

}
.header-inner{
    width: 1280px;
    min-width: 1280px;
    margin: 0 auto;
    overflow: hidden;
}

.logo{
    float: left;
    margin-right: 93px;
}
.menu {
    float: left;
    overflow: hidden;

}
.menu li{
    float:left;
}
.menu li a{

}
.menu-link {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  display: block;

  padding: 0 26px;
   text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.menu-link.active {
  background-color: #24b395;
}
.section-wrap{
    padding-top: 90px;
}
.section {

}

#link1 {
  background: url('../images/Trabo---CFD--New-Web-–-1-2-1.png') center;
  height: 1149px;
}

#link2 {
    background: url('../images/Trabo---CFD--New-Web-–-1-2-2.png') center;
    height: 1725px;
}

#link3 {
    background: url('../images/Trabo---CFD--New-Web-–-1-2-3.png') center;
    height: 1014px;
}

#link4 {
    background: url('../images/Trabo---CFD--New-Web-–-1-2-4.png') center;
    height: 1056px;
}
