@charset "UTF-8";

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:after,:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,th,td,input,select,textarea,button {
  margin: 0;
  padding: 0;
}

dl,ul,ol,menu,li {
  list-style: none;
}

address,caption,code,em,var {
  font-style: normal;
}

img,fieldset,iframe {
  border: 0 none;
}

img {
  max-width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
}

audio,canvas,iframe,img,svg,video {
  vertical-align: middle;
}

input,select,textarea,button {
  vertical-align: middle;
}

textarea {
  resize: none;
}

input::-ms-clear {
  display: none;
}

button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

button,input[type='button'],input[type='submit'],input[type='reset'],input[type='file'] {
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: button;
}

input[type="image"],input[type="text"],input[type="submit"],input[type="password"],input[type='search'] {
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
}

input:checked[type='checkbox'] {
  -webkit-appearance: checkbox;
  background-color: transparent;
}

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
}

caption,legend {
  visibility: hidden;
  overflow: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

a {
  text-decoration: none;
  select-dummy: expression(this.hideFocus=true);
}

body,h1,h2,h3,h4,h5,h6,th,td,input,select,textarea,button {
  /* font family, letter-spacing etc...*/
}

hr {
  display: none;
}

textarea,input {
  -webkit-apperence: none;
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,main,menu {
  display: block;
}

q {
  quotes: none;
}

q:before,q:after {
  content: '';
  content: none;
}

sub {
  line-height: 0;
}

html,body {
  width: 100%;
}

ul:after,ol:after {
  content: '';
  clear: both;
  display: block;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Black/Roboto-Black.woff2?v=2.137") format("woff2"), url("../fonts/Black/Roboto-Black.woff?v=2.137") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/BlackItalic/Roboto-BlackItalic.woff2?v=2.137") format("woff2"), url("../fonts/BlackItalic/Roboto-BlackItalic.woff?v=2.137") format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Bold/Roboto-Bold.woff2?v=2.137") format("woff2"), url("../fonts/Bold/Roboto-Bold.woff?v=2.137") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Bold/Roboto-Bold.woff2?v=2.137") format("woff2"), url("../fonts/Bold/Roboto-Bold.woff?v=2.137") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/BoldItalic/Roboto-BoldItalic.woff2?v=2.137") format("woff2"), url("../fonts/BoldItalic/Roboto-BoldItalic.woff?v=2.137") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/BoldItalic/Roboto-BoldItalic.woff2?v=2.137") format("woff2"), url("../fonts/BoldItalic/Roboto-BoldItalic.woff?v=2.137") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Medium/Roboto-Medium.woff2?v=2.137") format("woff2"), url("../fonts/Medium/Roboto-Medium.woff?v=2.137") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/MediumItalic/Roboto-MediumItalic.woff2?v=2.137") format("woff2"), url("../fonts/MediumItalic/Roboto-MediumItalic.woff?v=2.137") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Regular/Roboto-Regular.woff2?v=2.137") format("woff2"), url("../fonts/Regular/Roboto-Regular.woff?v=2.137") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Regular/Roboto-Regular.woff2?v=2.137") format("woff2"), url("../fonts/Regular/Roboto-Regular.woff?v=2.137") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Italic/Roboto-Italic.woff2?v=2.137") format("woff2"), url("../fonts/Italic/Roboto-Italic.woff?v=2.137") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Italic/Roboto-Italic.woff2?v=2.137") format("woff2"), url("../fonts/Italic/Roboto-Italic.woff?v=2.137") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Light/Roboto-Light.woff2?v=2.137") format("woff2"), url("../fonts/Light/Roboto-Light.woff?v=2.137") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/LightItalic/Roboto-LightItalic.woff2?v=2.137") format("woff2"), url("../fonts/LightItalic/Roboto-LightItalic.woff?v=2.137") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Thin/Roboto-Thin.woff2?v=2.137") format("woff2"), url("../fonts/Thin/Roboto-Thin.woff?v=2.137") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/ThinItalic/Roboto-ThinItalic.woff2?v=2.137") format("woff2"), url("../fonts/ThinItalic/Roboto-ThinItalic.woff?v=2.137") format("woff");
  font-weight: 100;
  font-style: italic;
}

/*******************************************
*    COMMON
********************************************/

html {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.8;
  color: #616161;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  background: #141E3B;
}

body.white {
  background: #fff;
}

body.white.color-soft {
  background: #F4F6F9;
}

body.color-soft {
  background: #F4F6F9;
}

body.inherit-white {
  background: #fff;
}

body.inherit-white #container {
  min-height: inherit;
}

body.inherit #container {
  min-height: inherit;
}

body.transparent {
  background: transparent;
}

em.red,span.red,b.red {
  color: #f01847 !important;
}

em.blue,span.blue,b.blue {
  color: #5b66ff !important;
}

em.gray,span.gray,b.gray {
  color: #969BA1 !important;
}

em.green,span.green,b.green {
  color: #24B395 !important;
}

i {
  font-style: italic;
}

/*******************************************
*    INPUT
********************************************/

*::-webkit-input-placeholder {
  color: #C4C4C4;
}

*:-ms-input-placeholder {
  color: #C4C4C4;
}

*::-ms-input-placeholder {
  color: #C4C4C4;
}

*::placeholder {
  color: #C4C4C4;
}

*::-webkit-input-placeholder {
  color: #C4C4C4;
}

*::-moz-placeholder {
  color: #C4C4C4;
}

*:-ms-input-placeholder {
  color: #C4C4C4;
}

*:-moz-placeholder {
  color: #C4C4C4;
}

input[type=color],input[type=date],input[type=datetime-local],input[type=datetime],input[type=email],input[type=month],input[type=number],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=time],input[type=url],input[type=week],select {
  height: 40px;
  background-color: #f4f4f4;
  border: 1px solid #C4C4C4;
  color: #C4C4C4;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 0 14px;
}

input[type=color]:focus,input[type=date]:focus,input[type=datetime-local]:focus,input[type=datetime]:focus,input[type=email]:focus,input[type=month]:focus,input[type=number]:focus,input[type=password]:focus,input[type=search]:focus,input[type=tel]:focus,input[type=text]:focus,input[type=time]:focus,input[type=url]:focus,input[type=week]:focus,select:focus {
  outline: none;
  background-color: #fff;
  border: 1px solid #24B395;
  color: #000;
}

input[type=color]:invalid,input[type=color].invalid,input[type=date]:invalid,input[type=date].invalid,input[type=datetime-local]:invalid,input[type=datetime-local].invalid,input[type=datetime]:invalid,input[type=datetime].invalid,input[type=email]:invalid,input[type=email].invalid,input[type=month]:invalid,input[type=month].invalid,input[type=number]:invalid,input[type=number].invalid,input[type=password]:invalid,input[type=password].invalid,input[type=search]:invalid,input[type=search].invalid,input[type=tel]:invalid,input[type=tel].invalid,input[type=text]:invalid,input[type=text].invalid,input[type=time]:invalid,input[type=time].invalid,input[type=url]:invalid,input[type=url].invalid,input[type=week]:invalid,input[type=week].invalid,select:invalid,select.invalid {
  border-color: #d85773;
  color: #d85773;
}

input[type=color]:invalid:focus,input[type=color].invalid:focus,input[type=date]:invalid:focus,input[type=date].invalid:focus,input[type=datetime-local]:invalid:focus,input[type=datetime-local].invalid:focus,input[type=datetime]:invalid:focus,input[type=datetime].invalid:focus,input[type=email]:invalid:focus,input[type=email].invalid:focus,input[type=month]:invalid:focus,input[type=month].invalid:focus,input[type=number]:invalid:focus,input[type=number].invalid:focus,input[type=password]:invalid:focus,input[type=password].invalid:focus,input[type=search]:invalid:focus,input[type=search].invalid:focus,input[type=tel]:invalid:focus,input[type=tel].invalid:focus,input[type=text]:invalid:focus,input[type=text].invalid:focus,input[type=time]:invalid:focus,input[type=time].invalid:focus,input[type=url]:invalid:focus,input[type=url].invalid:focus,input[type=week]:invalid:focus,input[type=week].invalid:focus,select:invalid:focus,select.invalid:focus {
  outline: none;
  background-color: #fff;
  border: 1px solid #24B395;
  color: #000;
}

input[type=color].point,input[type=date].point,input[type=datetime-local].point,input[type=datetime].point,input[type=email].point,input[type=month].point,input[type=number].point,input[type=password].point,input[type=search].point,input[type=tel].point,input[type=text].point,input[type=time].point,input[type=url].point,input[type=week].point,select.point {
  border-color: #24B395;
}

textarea {
  font-size: 14px;
  color: #C4C4C4;
  padding: 14px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-weight: 100;
}

textarea:focus {
  outline: none;
  background-color: #fff;
  border: 1px solid #24B395;
  color: #000;
}

textarea:invalid,textarea.invalid {
  border-color: #d85773;
  color: #d85773;
}

textarea:invalid:focus,textarea.invalid:focus {
  outline: none;
  background-color: #fff;
  border: 1px solid #24B395;
  color: #000;
}

select::-ms-expand {
  display: none;
}

select {
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  appearance: none;
  background: url("../images/ico-select-ar-b.png") no-repeat center right;
  -webkit-background-size: 21px 4px;
  background-size: 21px 4px;
}

.input-file {
  display: none;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.input-file + .js-labelFile {
  display: block !important;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0px 4px 0px !important;
  cursor: pointer;
  vertical-align: top;
  top: 0 !important;
}

.input-file + .js-labelFile .js-fileName {
  color: #fff;
}

input[type="radio"],input[type="checkbox"] {
  position: absolute;
  left: -9999px;
  opacity: 0;
}

input[type="radio"] + label,input[type="checkbox"] + label {
  color: #616161;
  cursor: pointer;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: -0.5px;
}

input[type="radio"] + label:before,input[type="checkbox"] + label:before {
  display: inline-block;
  margin: 0 8px 3px 0;
  vertical-align: middle;
  cursor: pointer;
  content: '';
}

input[type="radio"] + label:before {
  width: 16px;
  height: 16px;
  background-position: -41px -146px;
}

input[type="radio"] + label + input + label {
  margin-left: 36px;
}

input[type="radio"]:checked + label:before {
  background-position: -11px -146px;
}

input[type="radio"][disabled] + label:before {
  background-position: -71px -146px;
}

input[type="radio"]:focus + label:before {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

input[type="checkbox"] + label:before {
  width: 16px;
  height: 16px;
  background: #fff;
  border: 1px solid #C4C4C4;
}

input[type="checkbox"]:checked + label:before {
  border: none;
  background: url("../images/checkbox-on.png") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

input[type="checkbox"][disabled] + label:before {
  background: #C4C4C4;
}

.check input[type="radio"] + label,.check input[type="checkbox"] + label {
  color: #fff;
}

input[disabled],select[disabled],option[disabled],textarea[disabled],button[disabled],a.disabled {
  background-color: #C4C4C4;
  cursor: none;
}

.switch {
  display: inline-block;
  position: relative;
  width: 28px;
  height: 10px;
}

.switch input {
  display: none;
}

.switch .slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f4f4;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  cursor: pointer;
}

.switch .slider:before {
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 16px;
  width: 16px;
  background-color: #c4c4c4;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  content: "";
}

.switch.on .slider {
  background-color: #f5f6f8;
}

.switch.on .slider:before {
  background-color: #24B395;
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

.confirm-input {
  text-align: left;
  position: relative;
}

.confirm-input:after {
  position: absolute;
  right: 16px;
  top: 0;
  line-height: 40px;
}

.confirm-input.fail input {
  padding-right: 50px;
}

.confirm-input.fail:after {
  content: 'Fail';
  color: #f01847;
}

.confirm-input.com input {
  padding-right: 120px;
  color: #5b66ff;
}

.confirm-input.com:before {
  content: 'Completed';
  position: absolute;
  line-height: 40px;
  right: 40px;
  color: #5b66ff;
}

.confirm-input.com:after {
  content: '';
  display: inline-block;
  width: 15px;
  height: 11px;
  background: url(../images/img-modal-ok.png) no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  margin-left: 4px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.icon-input {
  position: relative;
}

.icon-input .datepicker + .ico {
  text-indent: -9999px !important;
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  margin: auto !important;
}

.label-input input {
  letter-spacing: -0.5;
  background: #fff;
  font-weight: 600;
  text-align: right;
  padding-right: 40px;
}

.label-input input + em {
  color: #969ba1;
  margin-left: -38px;
  position: relative;
  top: 1px;
}

.filter {
  display: inline-block;
  position: relative;
}

.filter select {
  color: #606060;
  border: none;
  font-size: 10px;
  height: 14px;
  line-height: 14px;
  padding: 0;
  padding-left: 8px;
  position: relative;
  bottom: 1px;
  font-weight: 500;
  z-index: 1;
  background: url("../images/ico-filter-ar-b.png") no-repeat center left;
  -webkit-background-size: 6px 4px;
  background-size: 6px 4px;
}

.filter.right select {
  background: url("../images/ico-filter-ar-b.png") no-repeat center right;
  -webkit-background-size: 6px 4px;
  background-size: 6px 4px;
}

.white .form-group .input label {
  font-size: 14px;
  color: #767676;
  font-weight: 500;
  text-indent: 0;
}

.white .form-group .input label em {
  display: block;
  font-size: 12px;
}

.white .form-group .input input[type=color],.white .form-group .input input[type=date],.white .form-group .input input[type=datetime-local],.white .form-group .input input[type=datetime],.white .form-group .input input[type=email],.white .form-group .input input[type=month],.white .form-group .input input[type=number],.white .form-group .input input[type=password],.white .form-group .input input[type=search],.white .form-group .input input[type=tel],.white .form-group .input input[type=text],.white .form-group .input input[type=time],.white .form-group .input input[type=url],.white .form-group .input input[type=week],.white .form-group .input select {
  background-color: #fff;
  border: 1px solid #c4c4c4;
}

.white .form-group .input input[type=color]:focus,.white .form-group .input input[type=date]:focus,.white .form-group .input input[type=datetime-local]:focus,.white .form-group .input input[type=datetime]:focus,.white .form-group .input input[type=email]:focus,.white .form-group .input input[type=month]:focus,.white .form-group .input input[type=number]:focus,.white .form-group .input input[type=password]:focus,.white .form-group .input input[type=search]:focus,.white .form-group .input input[type=tel]:focus,.white .form-group .input input[type=text]:focus,.white .form-group .input input[type=time]:focus,.white .form-group .input input[type=url]:focus,.white .form-group .input input[type=week]:focus,.white .form-group .input select:focus {
  outline: none;
  background-color: #fff;
  border: 1px solid #24B395;
  color: #000;
}

.white .form-group .input input[type=color].point,.white .form-group .input input[type=date].point,.white .form-group .input input[type=datetime-local].point,.white .form-group .input input[type=datetime].point,.white .form-group .input input[type=email].point,.white .form-group .input input[type=month].point,.white .form-group .input input[type=number].point,.white .form-group .input input[type=password].point,.white .form-group .input input[type=search].point,.white .form-group .input input[type=tel].point,.white .form-group .input input[type=text].point,.white .form-group .input input[type=time].point,.white .form-group .input input[type=url].point,.white .form-group .input input[type=week].point,.white .form-group .input select.point {
  color: #000;
  font-weight: 500;
  border: 2px solid #24b395;
  background-color: #fff;
}

.white .form-group .input input[type=color].point:focus,.white .form-group .input input[type=date].point:focus,.white .form-group .input input[type=datetime-local].point:focus,.white .form-group .input input[type=datetime].point:focus,.white .form-group .input input[type=email].point:focus,.white .form-group .input input[type=month].point:focus,.white .form-group .input input[type=number].point:focus,.white .form-group .input input[type=password].point:focus,.white .form-group .input input[type=search].point:focus,.white .form-group .input input[type=tel].point:focus,.white .form-group .input input[type=text].point:focus,.white .form-group .input input[type=time].point:focus,.white .form-group .input input[type=url].point:focus,.white .form-group .input input[type=week].point:focus,.white .form-group .input select.point:focus {
  border: 2px solid #24b395;
}

.white .form-group .input input[type=color]:invalid,.white .form-group .input input[type=color].invalid,.white .form-group .input input[type=date]:invalid,.white .form-group .input input[type=date].invalid,.white .form-group .input input[type=datetime-local]:invalid,.white .form-group .input input[type=datetime-local].invalid,.white .form-group .input input[type=datetime]:invalid,.white .form-group .input input[type=datetime].invalid,.white .form-group .input input[type=email]:invalid,.white .form-group .input input[type=email].invalid,.white .form-group .input input[type=month]:invalid,.white .form-group .input input[type=month].invalid,.white .form-group .input input[type=number]:invalid,.white .form-group .input input[type=number].invalid,.white .form-group .input input[type=password]:invalid,.white .form-group .input input[type=password].invalid,.white .form-group .input input[type=search]:invalid,.white .form-group .input input[type=search].invalid,.white .form-group .input input[type=tel]:invalid,.white .form-group .input input[type=tel].invalid,.white .form-group .input input[type=text]:invalid,.white .form-group .input input[type=text].invalid,.white .form-group .input input[type=time]:invalid,.white .form-group .input input[type=time].invalid,.white .form-group .input input[type=url]:invalid,.white .form-group .input input[type=url].invalid,.white .form-group .input input[type=week]:invalid,.white .form-group .input input[type=week].invalid,.white .form-group .input select:invalid,.white .form-group .input select.invalid {
  border-color: #d85773;
  color: #d85773;
}

.white .form-group .input input[type=color]:invalid:focus,.white .form-group .input input[type=color].invalid:focus,.white .form-group .input input[type=date]:invalid:focus,.white .form-group .input input[type=date].invalid:focus,.white .form-group .input input[type=datetime-local]:invalid:focus,.white .form-group .input input[type=datetime-local].invalid:focus,.white .form-group .input input[type=datetime]:invalid:focus,.white .form-group .input input[type=datetime].invalid:focus,.white .form-group .input input[type=email]:invalid:focus,.white .form-group .input input[type=email].invalid:focus,.white .form-group .input input[type=month]:invalid:focus,.white .form-group .input input[type=month].invalid:focus,.white .form-group .input input[type=number]:invalid:focus,.white .form-group .input input[type=number].invalid:focus,.white .form-group .input input[type=password]:invalid:focus,.white .form-group .input input[type=password].invalid:focus,.white .form-group .input input[type=search]:invalid:focus,.white .form-group .input input[type=search].invalid:focus,.white .form-group .input input[type=tel]:invalid:focus,.white .form-group .input input[type=tel].invalid:focus,.white .form-group .input input[type=text]:invalid:focus,.white .form-group .input input[type=text].invalid:focus,.white .form-group .input input[type=time]:invalid:focus,.white .form-group .input input[type=time].invalid:focus,.white .form-group .input input[type=url]:invalid:focus,.white .form-group .input input[type=url].invalid:focus,.white .form-group .input input[type=week]:invalid:focus,.white .form-group .input input[type=week].invalid:focus,.white .form-group .input select:invalid:focus,.white .form-group .input select.invalid:focus {
  outline: none;
  background-color: #fff;
  border: 1px solid #24B395;
  color: #000;
}

.white .form-group input[type="checkbox"] + label,.white .form-group input[type="radio"] + label {
  font-size: 12px;
  color: #767676;
  font-weight: normal;
}

.white .form-group label + .row {
  margin-top: 4px;
}

.white .form-group .row label {
  position: relative;
  top: 5px;
}

.white .form-group .row .column-l,.white .form-group .row .column-r {
  margin-top: 6px;
}

.form-group .input .row.col-2 .column {
  padding-right: 4px;
}

.form-group .input .row.col-2 .column + .column {
  padding-right: 0;
  padding-left: 4px;
}

.form-group .input .row.col-3 .column {
  padding-right: 4px;
}

.form-group .input .row.col-3 .column + .column {
  padding-left: 4px;
}

.form-group .input .row.col-3 .column + .column + .column {
  padding-right: 0;
}

.form-group .input + .input {
  padding-top: 16px;
}

.form-group .input + .input label {
  margin-top: -8px;
}

.form-group .input + .button {
  margin-top: 16px;
}

.form-group .input + .button.margin {
  margin-top: 30px;
}

.form-group .input label {
  display: block;
  font-size: 12px;
  color: #fff;
  font-weight: 400;
  text-indent: 14px;
}

.form-group .input label + input {
  margin-top: 4px;
}

.form-group .input input[type="text"],.form-group .input input[type="password"],.form-group .input input[type="number"],.form-group .input select {
  width: 100%;
}

.confirm-box {
  text-align: center;
  margin: 24px 0 16px 0;
}

.type-code {
  *zoom: 1;
  display: block;
}

.type-code:after {
  content: '';
  display: block;
  clear: both;
}

.type-code .type-btn {
  float: left;
  width: -webkit-calc(100% - 92px);
  width: calc(100% - 92px);
}

.type-code .type-btn .btn {
  min-width: 88px;
  max-width: 90px;
}

.type-code > .btn {
  float: left;
  min-width: 84px;
  margin-left: 8px;
}

.type-btn {
  *zoom: 1;
  display: block;
  height: 40px;
}

.type-btn:after {
  content: '';
  display: block;
  clear: both;
}

.type-btn + .btn {
  display: inline-block;
}

.type-btn input {
  float: left;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}

.type-btn .btn {
  float: left;
  min-width: 90px;
  height: 40px;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
}

/*******************************************
*    LAYOUT
********************************************/

html.cont-center {
  height: 100%;
}

html.cont-center body {
  height: 100%;
}

html.cont-center body #wrap {
  height: 100%;
}

html.cont-center body #wrap #container {
  height: 100%;
}

html.cont-center body #wrap #container .vertical-layout {
  height: 100%;
}

#container {
  padding-bottom: 16px;
  min-height: 100vh;
}

#container.one-page {
  background: #fff;
}

#container > .app-section:first-child {
  padding-top: 54px;
}

#container.pd-none {
  padding-bottom: 0;
}

.row {
  *zoom: 1;
  display: block;
}

.row:after {
  content: '';
  display: block;
  clear: both;
}

.row.btn-row.col-2 .column {
  padding-right: 4px;
}

.row.btn-row.col-2 .column + .column {
  padding-left: 4px;
  padding-right: 0;
}

.row .column-r {
  float: right;
}

.row .column-l {
  float: left;
}

.row.center {
  text-align: center;
}

.row.center .column {
  display: inline-block;
  float: none;
}

.row.right {
  text-align: right;
}

.row.right .column {
  display: inline-block;
  float: none;
}

.row .column {
  float: left;
  word-break: break-all;
}

.row .column.relative {
  position: relative;
}

.row.col-1 .column {
  width: 100%;
}

.row.col-2 .column {
  width: 50%;
}

.row.col-3 .column {
  width: 33.33%;
}

.row.col-4 .column {
  width: 25%;
}

ul.col-1 li,ol.col-1 li {
  width: 100%;
}

ul.col-2 li,ol.col-2 li {
  width: 50%;
}

ul.col-3 li,ol.col-3 li {
  width: 33.33%;
}

ul.col-4 li,ol.col-4 li {
  width: 25%;
}

ul.col-5 li,ol.col-5 li {
  width: 20%;
}

ul.col-6 li,ol.col-6 li {
  width: 16.66667%;
}

ul.col-7 li,ol.col-7 li {
  width: 14.285714%;
}

ul.col-8 li,ol.col-8 li {
  width: 12.5%;
}

ul.col-9 li,ol.col-9 li {
  width: 11.11111%;
}

ul.col-10 li,ol.col-10 li {
  width: 10%;
}

ul.col-11 li,ol.col-11 li {
  width: 9.090909%;
}

ul.col-12 li,ol.col-12 li {
  width: 8.33333%;
}

.first {
  padding-top: 54px;
}

.app-section.interaction {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  padding: 0 !important;
  min-height: inherit !important;
  overflow: hidden;
}

.app-section.interaction .info-container {
  height: 202px;
  -webkit-transition: height .4s;
  -o-transition: height .4s;
  transition: height .4s;
  margin-bottom: 0;
}

.app-section.interaction .info-container.ani {
  min-height: inherit;
  display: block;
  top: 13px;
  text-align: left;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-height: initial;
}

.app-section.interaction .info-container.ani .vertical-layout-inner.ani {
  padding-top: 0;
}

.app-section.interaction .info-container .vertical-layout-inner.ani {
  display: block;
  padding-top: 13px;
}

.app-section.interaction .info-container .txt-guide,.app-section.interaction .info-container h3,.app-section.interaction .info-container span,.app-section.interaction .info-container .vertical-layout-inner {
  -webkit-transition: font-size .4s, opacity .4s;
  -o-transition: font-size .4s, opacity .4s;
  transition: font-size .4s, opacity .4s;
}

.app-section.interaction .info-container h3 {
  padding-top: 10px;
}

.app-section.interaction .info-container h3.it-pd-ctl {
  padding-top: 0;
}

.app-section.interaction .info-container h3.ani {
  padding-top: 0;
  display: inline-block;
}

.app-section.interaction .info-container span.ani {
  display: inline-block;
  font-size: 16px;
}

.app-section.interaction .info-container .txt-guide.ani {
  opacity: 0;
}

.app-section.fixed-item {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
}

.app-section.fixed-item + .app-section {
  margin-top: 0;
}

.app-section.gradient {
  background-image: -webkit-linear-gradient(322deg, #5b66ff 10%, #00ab97 94%);
  background-image: -o-linear-gradient(322deg, #5b66ff 10%, #00ab97 94%);
  background-image: linear-gradient(128deg, #5b66ff 10%, #00ab97 94%);
  min-height: 200px;
}

.app-section.gradient .info-container {
  background-image: none;
}

.app-section.gradient .txt-guide {
  font-size: 11px;
  color: #fff;
  font-weight: 100;
}

.app-section.white {
  background: #fff;
}

.app-section.soft-white {
  background: #F4F6F9;
}

.app-section + .wide {
  margin-top: 0;
}

.app-section + .app-section {
  padding-top: 14px;
}

.app-section:last-child {
  padding-bottom: 80px;
}

.app-section.toggle-padding {
  padding-top: 140px !important;
}

.app-inner {
  padding: 0 16px;
}

.app-inner.border {
  border-top: 8px solid #f4f6f9;
}

.app-inner.white {
  padding: 14px 16px;
  background: #fff;
}

.app-inner.white + .app-inner.white {
  margin-top: 8px;
}

.app-inner.white .agree-list {
  border-top: none;
  margin-top: 8px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.app-cont + .app-cont {
  padding-top: 24px;
}

.vertical-layout {
  display: table;
  width: 100%;
}

.vertical-layout-inner {
  display: table-cell;
  vertical-align: middle;
  margin: auto;
}

.fixed-add {
  padding-top: 8px;
}

.fixed-add.white {
  background: #fff;
}

.fixed-add.soft-white {
  background: #F4F6F9;
}

.fixed-add .txt-tit-lv2 {
  margin-top: -8px;
}

.cont-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 16px;
  border-bottom: 8px solid #f4f6f9;
}

.cont-block .vertical-layout {
  height: 100%;
}

.cont-block .img-txt {
  font-weight: 500;
  color: #000;
  line-height: 1;
}

.cont-block .column-l {
  text-align: left;
  width: 84px;
}

.cont-block .column-r {
  padding: 0 0 0 8px;
  width: -webkit-calc(100% - 84px);
  width: calc(100% - 84px);
  border-left: 1px solid #f4f6f9;
}

.form-line {
  padding-bottom: 16px;
}

.form-line + .form-line {
  padding-top: 16px;
  border-top: 1px solid #f4f6f9;
}

.form-line + .button {
  padding-top: 8px;
}

.gnb-container {
  max-width: 440px;
  margin: auto;
}

.error-page {
  text-align: center;
}

.error-page img {
  width: 144px;
  margin: auto;
}

.error-page p {
  color: #d85773;
  font-size: 16px;
  margin-top: 18px;
}

.fix-button-area {
  padding: 8px 16px;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 2;
  background: #fff;
  -webkit-box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.1);
}

.fix-button-area.transparent {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*******************************************
*    GUI
********************************************/

.loading-screen {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 100000;
}

.loading-screen img {
  position: relative;
  z-index: 99999;
}

.loading-screen .dim {
  display: block;
}

.txt-intro {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 100;
}

.txt-intro a,.txt-intro span {
  display: inline-block;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 100;
}

.txt-info {
  text-align: center;
  position: relative;
}

.txt-info span {
  display: inline-block;
  color: #969BA1;
  font-size: 10px;
  margin-bottom: 14px;
  background: #141E3B;
  margin-top: -16px;
  position: relative;
  z-index: 1;
  padding: 0 20px;
}

.txt-info:before {
  content: '';
  display: inline-block;
  border: 1px dashed #969BA1;
  width: 100%;
  position: absolute;
  top: 12px;
  left: 0;
}

.txt-invalid {
  color: #d85773;
  font-size: 12px;
  margin-top: 4px;
  padding-left: 14px;
}

.txt-tit-lv1 {
  font-size: 18px;
  line-height: 16px;
  font-weight: bold;
  color: #141E3B;
  padding-bottom: 10px;
  text-align: center;
}

.txt-tit-lv2 {
  color: #000;
  font-size: 12px;
  font-weight: 500;
  padding: 0 16px;
  padding-bottom: 4px;
  padding-top: 6px;
  background: #fff;
}

.txt-tit-ipt {
  font-size: 14px;
  color: #151936;
  margin-bottom: 6px;
}

.txt-guide {
  font-size: 12px;
  color: #969ba1;
  line-height: 1.3;
  letter-spacing: -0.1px;
}

.txt-guide + .txt-guide {
  margin-top: 6px;
}

.txt-guide-tit {
  font-size: 12px;
  color: #767676;
  font-weight: normal;
  margin: 4px 0;
}

.ico {
  display: inline-block;
  text-indent: -9999px;
  position: relative;
  width: 34px;
  height: 34px;
}

.ico:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.ico-tooltip:before {
  width: 16px;
  height: 16px;
  background: url("../images/ico-tooltip.png") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

.ico-setting:before {
  width: 24px;
  height: 24px;
  background: url("../images/ico-settings.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
}

.ico-close:before {
  width: 18px;
  height: 18px;
  background: url("../images/ico-close-b.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
}

.ico-close-w:before {
  width: 16px;
  height: 16px;
  background: url("../images/ico-close-w.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
}

.ico-al:before {
  width: 7px;
  height: 12px;
  background: url("../images/ico-arrow-l.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
}

.ico-ar:before {
  width: 7px;
  height: 12px;
  background: url("../images/ico-arrow-r.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
}

.ico-calendar:before {
  width: 14px;
  height: 14px;
  background: url("../images/ico-calendar.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
}

.btn {
  display: block;
  min-width: 100%;
  min-height: 40px;
  padding: 8px 10px 7px;
  text-align: center;
  color: #fff;
  background-color: #24B395;
  font-size: 14px;
  font-weight: 500;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.btn.natural {
  background-color: #f5f6f8;
  color: #24B395;
}

.btn.natural-negative {
  background-color: #f5f6f8;
  color: #f01847;
}

.btn.negative {
  background-color: #f01847;
}

.btn.positive {
  background: #fff;
  border: 1px solid #24B395;
  color: #24B395;
}

.btn.more {
  color: #24B395;
  font-size: 12px;
  min-width: 66px;
  font-weight: normal;
  width: 66px;
  margin: 12px auto auto auto;
  min-height: 20px;
  background-color: #fff;
  border: 1px solid #24B395;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  padding: 1px 10px 0px;
  position: relative;
}

.btn.more:after {
  content: '';
  display: inline-block;
  margin-left: 4px;
  width: 6px;
  height: 5px;
  background: url("../images/arrow-more-b.png") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  position: relative;
  bottom: 1px;
}

.btn.middle {
  display: inline-block;
  min-width: 64px;
  width: 64px;
  min-height: 30px;
  text-align: center;
  padding: 2px 4px 0px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.btn.rounded {
  color: #9a9b9d;
  font-size: 10px;
  font-weight: 400;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border: 1px solid #9a9b9d;
  background: none;
  min-width: 54px;
  padding: 0;
  min-height: 20px;
  line-height: 20px;
}

.dim {
  display: none;
  position: fixed;
  z-index: 99998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(21, 23, 31, 0.4);
  -webkit-filter: blur(10);
  filter: blur(10);
}

.img-txt img {
  margin-right: 4px;
  position: relative;
  bottom: 1px;
}

.label {
  display: inline-block;
  color: #fff;
  font-size: 11px;
  font-weight: 500;
  background-color: #51d0b5;
  line-height: 1;
  padding: 3px 5px 2px 5px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  position: relative;
  bottom: 0;
}

.label.upcoming {
  min-width: 54px;
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  font-style: italic;
  background-color: #5872c9;
}

.label.ongoing {
  min-width: 54px;
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  font-style: italic;
  background-color: #3b87d0;
}

.gui-title {
  *zoom: 1;
  display: block;
  border-bottom: 1px solid #f4f6f9;
}

.gui-title:after {
  content: '';
  display: block;
  clear: both;
}

.gui-title .txt-tit-lv2 {
  float: left;
  color: #141E3B;
  font-size: 14px;
}

.gui-title .toggle-btn {
  float: right;
  margin-right: 16px;
}

.toggle-btn {
  font-size: 12px;
  color: #767676;
}

.toggle-btn:after {
  content: '';
  display: inline-block;
  width: 13px;
  height: 8px;
  background: url("../images/ico-fold-t.png") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  margin-left: 8px;
}

.toggle-btn.active:after {
  background: url("../images/ico-fold-b.png") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

.toggle-cont.active {
  display: none;
}

/*******************************************
*    Header/Footer
********************************************/

header .app-inner {
  background-color: #141E3B;
  height: 54px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99998;
}

header .app-inner.header-gradient {
  background-image: -webkit-linear-gradient(322deg, #5b66ff 10%, #00ab97 94%);
  background-image: -o-linear-gradient(322deg, #5b66ff 10%, #00ab97 94%);
  background-image: linear-gradient(128deg, #5b66ff 10%, #00ab97 94%);
}

header .app-inner.transparent {
  background-color: transparent;
}

header .app-inner .logo,header .app-inner .btn-gnb,header .app-inner .cont-operation {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

header .app-inner .cont-operation span {
  font-weight: 400;
}

header .app-inner .btn-gnb {
  display: block;
  width: 20px;
  height: 14px;
  background: url("../images/ico-gnb.png") no-repeat;
  text-indent: -9999px;
  right: 16px;
  -webkit-background-size: contain;
  background-size: contain;
}

header .gnb-container {
  position: fixed;
  width: 100%;
  height: 100%;
  right: -100%;
  bottom: 0;
  -webkit-transition: right .4s;
  -o-transition: right .4s;
  transition: right .4s;
  background: #fff;
  -webkit-border-radius: 15px 0 0 0;
  border-radius: 15px 0 0 0;
  -webkit-box-shadow: -3px 3px 6px 0 rgba(0, 0, 0, 0.16);
  box-shadow: -3px 3px 6px 0 rgba(0, 0, 0, 0.16);
  z-index: 99999;
}

header .gnb-container.active {
  right: 0;
}

header .gnb-header {
  padding: 20px 16px 10px;
}

header .gnb-header .user-info {
  *zoom: 1;
  display: block;
}

header .gnb-header .user-info:after {
  content: '';
  display: block;
  clear: both;
}

header .gnb-header .user-info .uesr-img {
  float: left;
  position: relative;
}

header .gnb-header .user-info .uesr-img .img-box {
  width: 30px;
  height: 30px;
  overflow: hidden;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

header .gnb-header .user-info .uesr-img .img-box img {
  width: 100%;
}

header .gnb-header .user-info .uesr-img .user-alram {
  display: block;
  text-indent: -9999px;
  width: 6px;
  height: 6px;
  background-color: #24B395;
  position: absolute;
  right: 1px;
  top: 1px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

header .gnb-header .user-info .user-account {
  float: left;
  color: #151936;
  margin-left: 12px;
  line-height: 30px;
}

header .gnb-header .nav-ctl {
  position: absolute;
  right: 16px;
  top: 18px;
}

header .gnb-body .gnb ul li {
  position: relative;
  padding-left: 12px;
}

header .gnb-body .gnb ul li.on {
  background-color: #24B395;
}

header .gnb-body .gnb ul li.on a {
  color: #fff;
  font-size: 16px;
}

header .gnb-body .gnb ul li.on:before,header .gnb-body .gnb ul li.on:after {
  content: none !important;
}

header .gnb-body .gnb ul li.on + li:before {
  content: none;
}

header .gnb-body .gnb ul li:last-child:after {
  content: '';
  display: block;
  width: -webkit-calc(100% - 32px);
  width: calc(100% - 32px);
  height: 1px;
  -webkit-box-shadow: -3px 3px 6px 0 rgba(0, 0, 0, 0.16);
  box-shadow: -3px 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #C4C4C4;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

header .gnb-body .gnb ul li + li:before {
  content: '';
  display: block;
  width: -webkit-calc(100% - 32px);
  width: calc(100% - 32px);
  height: 1px;
  -webkit-box-shadow: -3px 3px 6px 0 rgba(0, 0, 0, 0.16);
  box-shadow: -3px 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #C4C4C4;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

header .gnb-body .gnb ul li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #000;
  font-weight: 500;
  padding: 16px 0 14px;
  text-indent: 12px;
}

header .gnb-footer img {
  width: 61px;
  position: absolute;
  bottom: 16px;
  right: 16px;
}

footer {
  padding: 34px 0;
  background-image: -webkit-linear-gradient(307deg, #000000 4%, #141e3b 72%);
  background-image: -o-linear-gradient(307deg, #000000 4%, #141e3b 72%);
  background-image: linear-gradient(143deg, #000000 4%, #141e3b 72%);
}

footer.active {
  padding: 34px 0 94px;
}

footer small,footer span {
  display: block;
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 18px;
  margin-top: 16px;
}

footer small a,footer span a {
  color: #fff;
  text-decoration: underline;
}

footer .fnb {
  margin-bottom: 16px;
}

footer .fnb ul {
  *zoom: 1;
  display: block;
}

footer .fnb ul:after {
  content: '';
  display: block;
  clear: both;
}

footer .fnb ul li {
  width: 50%;
  float: left;
}

footer .fnb ul li:before {
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  background: #fff;
  margin-right: 4px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  bottom: 2px;
}

footer .fnb ul li a {
  font-size: 12px;
  font-weight: 400;
  color: #fff;
}

footer .sns-list-tit {
  font-size: 12px;
  color: #f4f6f9;
  font-weight: bold;
  line-height: 1.33;
  margin-bottom: 8px;
}

footer .sns-list ul {
  *zoom: 1;
  display: block;
}

footer .sns-list ul:after {
  content: '';
  display: block;
  clear: both;
}

footer .sns-list ul li {
  float: left;
}

footer .sns-list ul li + li {
  margin-left: 10px;
}

footer .sns-list ul li a {
  display: block;
  text-indent: -9999px;
  height: 16px;
}

footer .sns-list ul li a.tw {
  width: 19px;
  background: url("../images/ico-tw.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
}

footer .sns-list ul li a.ka {
  width: 15px;
  background: url("../images/ico-ka.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
}

footer .sns-list ul li a.fb {
  width: 8px;
  background: url("../images/ico-fb.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
}

footer .sns-list ul li a.te {
  width: 14px;
  background: url("../images/ico-te.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
}

footer .sns-list ul li a.mm {
  width: 16px;
  background: url("../images/ico-mm.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
}

.logo {
  width: 88px;
  height: 27px;
}

.logo a {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -9999px;
  background: url("../images/logo.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  left: 16px;
}

/*******************************************
*    Component
********************************************/

.product-list ul li {
  padding: 12px;
  background: #fff;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.product-list ul li + li {
  margin-top: 8px;
}

.product-list ul li.finished {
  position: relative;
}

.product-list ul li.finished:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.product-list ul li.finished:after {
  content: 'Finished';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  text-align: center;
  line-height: 108px;
  color: #fff;
  z-index: 1;
  font-size: 25px;
  font-weight: 400;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  font-style: italic;
}

.product-list ul li.finished-ac {
  position: relative;
}

.product-list ul li.finished-ac:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.product-list ul li.finished-ac:after {
  content: 'Application closed';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  text-align: center;
  line-height: 108px;
  color: #fff;
  z-index: 1;
  font-size: 25px;
  font-weight: 400;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  font-style: italic;
}

.product-list ul li .title {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  line-height: 1;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 190px;
}

.product-list ul li em {
  font-size: 15px;
  font-weight: bold;
  vertical-align: middle;
}

.product-list ul li .label {
  display: inline-block;
  color: #fff;
  font-size: 11px;
  font-weight: 500;
  background-color: #51d0b5;
  line-height: 1;
  padding: 4px 5px 3px 5px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  position: relative;
  bottom: 0;
}

.product-list ul li .label.upcoming {
  min-width: 54px;
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  font-style: italic;
  background-color: #5872c9;
}

.product-list ul li .label.ongoing {
  min-width: 54px;
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  font-style: italic;
  background-color: #3b87d0;
}

.product-list ul li .desc {
  font-size: 12px;
  font-weight: normal;
  line-height: 1;
  margin-top: 6px;
}

.product-list ul li .column-l {
  float: left;
}

.product-list ul li .column-r {
  float: right;
}

.product-list ul li .column-r.right {
  text-align: right;
  margin-top: -3px;
}

.product-list ul li .column-r .btn {
  min-width: 98px;
  min-height: 32px;
  padding: 4px 10px 3px;
}

.product-list ul li dl.left {
  text-align: left;
}

.product-list ul li dl.right {
  text-align: right;
}

.product-list ul li dl dt,.product-list ul li dl dd {
  line-height: 1;
}

.product-list ul li dl dt {
  color: #767676;
  font-size: 11px;
  font-weight: normal;
}

.product-list ul li dl dd {
  font-size: 13px;
  font-weight: 500;
  margin-top: 7px;
}

.product-list-header {
  *zoom: 1;
  display: block;
  border-bottom: 1px solid #f4f6f9;
  padding-bottom: 6px;
}

.product-list-header:after {
  content: '';
  display: block;
  clear: both;
}

.product-list-body {
  *zoom: 1;
  display: block;
  padding-top: 8px;
}

.product-list-body:after {
  content: '';
  display: block;
  clear: both;
}

.agree-list {
  border-top: 1px solid #fff;
  margin-top: 14px;
  padding-top: 14px;
  padding-left: 16px;
  padding-right: 16px;
}

.agree-list li {
  *zoom: 1;
  display: block;
}

.agree-list li:after {
  content: '';
  display: block;
  clear: both;
}

.agree-list li .check {
  float: left;
}

.agree-list li .agree-btn {
  float: right;
  color: #969696;
  text-decoration: underline;
  font-size: 12px;
  position: relative;
  padding-right: 14px;
  margin-top: 3px;
}

.agree-list li .agree-btn:after {
  content: '';
  display: block;
  background: url("../images/ico-arrow-r-sm.png") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  width: 6px;
  height: 11px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.assets-grid-list {
  width: 100%;
  *zoom: 1;
  display: inline-block;
}

.assets-grid-list:after {
  content: '';
  display: block;
  clear: both;
}

.assets-grid-list li dl dt,.assets-grid-list li dl dd {
  line-height: 1;
}

.assets-grid-list li dl dt {
  color: #fff;
  font-size: 12px;
  font-weight: normal;
  text-align: left;
}

.assets-grid-list li dl dd {
  text-align: right;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.assets-grid-list.vertical {
  margin-top: 4px;
}

.assets-grid-list.vertical li {
  width: 50%;
  float: left;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px 12px 6px;
}

.assets-grid-list.vertical li + li {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.assets-grid-list.vertical li dl dt {
  margin-bottom: 6px;
}

.assets-grid-list.vertical li dl dd {
  font-size: 16px;
  font-weight: 400;
}

.assets-grid-list.horizen {
  padding: 4px 15px 10px 15px;
}

.assets-grid-list.horizen li {
  line-height: 1;
}

.assets-grid-list.horizen li + li {
  margin-top: 8px;
}

.assets-grid-list.horizen li dl {
  width: 100%;
  *zoom: 1;
  display: inline-block;
}

.assets-grid-list.horizen li dl:after {
  content: '';
  display: block;
  clear: both;
}

.assets-grid-list.horizen li dl dt,.assets-grid-list.horizen li dl dd {
  float: left;
  width: 50%;
}

.assets-grid-list.horizen li dl dd {
  color: #fff;
  font-size: 12px;
  font-weight: normal;
}

.assets-grid-rounded {
  padding: 0 16px;
}

.assets-grid-rounded .assets-grid-list {
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.assets-grid-rounded .assets-grid-list.vertical li {
  border-top: 0;
  border-bottom: 0;
}

.assets-grid-rounded .assets-grid-list.vertical li + li {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.coinassets-list-link {
  float: left;
  display: block;
}

.coinassets-list-link .like-td {
  width: 50%;
}

.coinassets-list-body ul li {
  *zoom: 1;
  display: block;
  border-bottom: 4px solid #f4f6f9;
}

.coinassets-list-body ul li:after {
  content: '';
  display: block;
  clear: both;
}

.coinassets-list .like-td {
  background: #fff;
  color: #000;
  padding-top: 12px;
  padding-bottom: 12px;
  vertical-align: top;
}

.coinassets-list .like-td span {
  display: block;
  font-weight: 500;
}

.coinassets-list .like-td span em {
  display: inline-block;
  margin-left: 4px;
  color: #969BA1;
}

.coinassets-list .like-td span + span {
  margin-top: 3px;
}

.coinassets-list .like-td .btn {
  margin: auto;
  min-width: 70px;
  min-height: inherit;
  font-size: 12px;
  padding: 1px 10px 0px;
  font-weight: normal;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #24B395;
}

.coinassets-list .like-td .btn + .btn {
  margin-top: 4px;
}

.coinassets-list .like-td,.coinassets-list .like-th {
  float: left;
}

.coinassets-list .like-td.center,.coinassets-list .like-th.center {
  text-align: center;
  padding-right: 16px;
}

.coinassets-list .like-td.right,.coinassets-list .like-th.right {
  text-align: right;
  padding-right: 16px;
}

.coinassets-list .like-td.left,.coinassets-list .like-th.left {
  text-align: left;
  padding-left: 16px;
}

.coinassets-list-header {
  background-color: #f4f4f4;
  *zoom: 1;
  display: block;
}

.coinassets-list-header:after {
  content: '';
  display: block;
  clear: both;
}

.coinassets-list-header .like-th {
  font-size: 10px;
  color: #767676;
  font-weight: normal;
  line-height: 1;
  padding-top: 8px;
  padding-bottom: 6px;
  position: relative;
}

.coinassets-list-header .like-th:after {
  content: '';
  display: block;
  width: 2px;
  height: 10px;
  background: #C4C4C4;
  position: absolute;
  right: 8px;
  top: 1px;
  bottom: 0;
  margin: auto;
  opacity: 0.5;
}

.coinassets-list-header .like-th:last-child:after {
  content: none;
}

.coinassets-list-header .like-td,.coinassets-list-header .like-th {
  float: left;
}

.coinassets-list-header .like-td.center,.coinassets-list-header .like-th.center {
  text-align: center;
  padding-right: 16px;
}

.coinassets-list-header .like-td.right,.coinassets-list-header .like-th.right {
  text-align: right;
  padding-right: 16px;
}

.coinassets-list-header .like-td.left,.coinassets-list-header .like-th.left {
  text-align: left;
  padding-left: 16px;
}

.token-detail-list dl {
  *zoom: 1;
  display: block;
  margin-top: 13px;
}

.token-detail-list dl:after {
  content: '';
  display: block;
  clear: both;
}

.token-detail-list dl:last-child {
  margin-bottom: 13px;
}

.token-detail-list dl dt,.token-detail-list dl dd {
  line-height: 1;
}

.token-detail-list dl dt {
  float: left;
  font-size: 12px;
  color: #767676;
  font-weight: normal;
  line-height: 1.7;
}

.token-detail-list dl dd {
  float: right;
}

.token-detail-list dl dd span {
  color: #000;
  display: block;
  font-weight: 500;
}

.token-detail-list dl dd span em {
  display: inline-block;
  margin-left: 4px;
  color: #969BA1;
}

.info-list dl {
  *zoom: 1;
  display: block;
}

.info-list dl:after {
  content: '';
  display: block;
  clear: both;
}

.info-list dl + dl {
  margin-top: 12px;
}

.info-list dl dt {
  float: left;
  color: #767676;
  font-weight: normal;
  text-align: left;
}

.info-list dl dd {
  float: right;
  color: #000;
  font-weight: bold;
  text-align: right;
}

.info-list dl dd em {
  font-weight: normal;
  color: #969BA1;
  margin-left: 4px;
}

.info-list dl dd input {
  text-align: right;
  padding: 0 40px 0 10px;
  letter-spacing: -0.5;
  max-width: 178px;
  background: #fff;
  color: #f01847;
  font-weight: 600;
  height: 30px;
  line-height: 30px;
}

.info-list dl dd input:focus {
  color: #f01847;
}

.info-list dl dd input + em {
  margin-left: -34px;
  position: relative;
  top: 1px;
}

.info-list.sub dl + dl {
  margin-top: 9px;
}

.info-list.sub dl dt,.info-list.sub dl dd {
  width: 50%;
}

.info-list.sub dl dt {
  color: #767676;
  font-size: 13px;
}

.info-list.sub dl dd {
  font-size: 15px;
  text-align: left;
  color: #767676;
  font-weight: 500;
  letter-spacing: -0.5px;
}

.info-list + .txt-guide {
  margin-top: 14px;
}

.info-product {
  padding: 10px 0;
  border-top: 1px solid #f4f6f9;
  border-bottom: 1px solid #c4c4c4;
}

.info-product .title {
  font-weight: 500;
  color: #000;
  line-height: 1;
  font-size: 15px;
}

.info-product .info-rate {
  *zoom: 1;
  display: block;
  margin-top: 8px;
  border-bottom: 1px solid #c4c4c4;
  padding-bottom: 8px;
  margin-bottom: 10px;
}

.info-product .info-rate:after {
  content: '';
  display: block;
  clear: both;
}

.info-product .info-rate + .info-list dl:last-child {
  border-top: 1px solid #c4c4c4;
}

.info-product .info-rate + .info-list dl:last-child dt,.info-product .info-rate + .info-list dl:last-child dd {
  margin-top: 9px;
}

.info-product .info-rate dt,.info-product .info-rate dd {
  line-height: 1;
  width: 50%;
}

.info-product .info-rate dt {
  float: left;
  font-size: 13px;
  color: #767676;
  font-weight: normal;
  line-height: 1.7;
}

.info-product .info-rate dd {
  float: right;
}

.info-product .info-rate dd span {
  font-size: 18px;
  color: #f01847;
  display: block;
  font-weight: 500;
}

.info-product .info-rate dd span em {
  font-size: 12px;
  font-weight: normal;
  display: inline-block;
  margin-left: 4px;
  color: #969BA1;
  position: relative;
  bottom: 3px;
}

.info-product + .agree-list li .agree-btn {
  color: #24B395;
}

.logo-list {
  text-align: center;
  margin-top: 10px;
}

.logo-list + .logo-list {
  margin-top: 4px;
}

.logo-list ul {
  *zoom: 1;
  display: inline-block;
}

.logo-list ul:after {
  content: '';
  display: block;
  clear: both;
}

.logo-list ul li {
  float: left;
  color: #767676;
  font-weight: 500;
}

.logo-list ul li + li {
  margin-left: 20px;
}

.logo-list ul li img {
  margin-right: 4px;
  position: relative;
  bottom: 1px;
}

.verification-tit {
  color: #000;
  background: #f4f6f9;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 16px;
  text-align: center;
}

.verification-tit.fixed {
  position: fixed;
  width: 100%;
  left: 0;
  top: 54px;
}

.detail-desc {
  font-size: 14px;
  color: #767676;
  line-height: 1;
  font-weight: normal;
  padding: 0 30px;
}

.detail-board {
  padding-top: 30px;
}

.verification-desc {
  text-align: left;
  color: #767676;
  font-size: 12px;
  line-height: 1.4;
  font-weight: normal;
  margin-bottom: 10px;
}

.verification-guide {
  background-color: #f4f4f4;
  padding: 16px 14px 16px;
  font-size: 12px;
  color: #767676;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  line-height: 1.4;
}

.verification-list.info ul li {
  padding-left: 0;
  padding-bottom: 18px;
}

.verification-list.info ul li:last-child {
  padding-bottom: 0;
}

.verification-list.info ul li.app-block + .app-block {
  padding-top: 10px;
}

.verification-list > ul.level1 > li.lv.lv1:before {
  color: #fff;
  background: #5b66ff;
}

.verification-list > ul.level2 > li.lv.lv1:before {
  color: #fff;
  background: #5b66ff;
}

.verification-list > ul.level2 > li.lv.lv1:after {
  background: #5b66ff;
}

.verification-list > ul.level2 > li.lv.lv2:before {
  color: #fff;
  background: #5b66ff;
}

.verification-list > ul.level3 > li.lv.lv1:before {
  color: #fff;
  background: #5b66ff;
}

.verification-list > ul.level3 > li.lv.lv1:after {
  background: #5b66ff;
}

.verification-list > ul.level3 > li.lv.lv2:before {
  color: #fff;
  background: #5b66ff;
}

.verification-list > ul.level3 > li.lv.lv2:after {
  background: #5b66ff;
}

.verification-list > ul.level3 > li.lv.lv3:before {
  color: #fff;
  background: #5b66ff;
}

.verification-list > ul > li {
  padding-left: 48px;
  padding-bottom: 30px;
}

.verification-list > ul > li.lv {
  position: relative;
}

.verification-list > ul > li.lv:after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 100%;
  background: #C4C4C4;
  position: absolute;
  top: 2px;
  left: 20px;
}

.verification-list > ul > li.lv:last-child:after {
  content: none;
}

.verification-list > ul > li.lv:before {
  height: 20px;
  display: block;
  color: #000;
  font-size: 12px;
  font-weight: 500;
  background: #f4f4f4;
  position: absolute;
  left: 0;
  top: 2px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  padding: 0 10px;
  z-index: 1;
}

.verification-list > ul > li.lv > ul > li {
  padding-bottom: 30px;
}

.verification-list > ul > li.lv1:before {
  content: 'Lv.1';
}

.verification-list > ul > li.lv2:before {
  content: 'Lv.2';
}

.verification-list > ul > li.lv3:before {
  content: 'Lv.3';
}

.verification-list > ul > li span {
  display: inline-block;
  color: #151936;
  line-height: 30px;
}

.verification-list > ul > li dl dt {
  color: #151936;
  font-weight: 500;
}

.verification-list > ul > li dl dd {
  color: #767676;
  font-size: 12px;
  font-weight: normal;
  margin-top: 9px;
}

.verification-list > ul > li .txt-stauts {
  line-height: 25px;
}

.verification-list > ul > li .txt-stauts.completed {
  display: block;
  color: #5b66ff;
}

.verification-list > ul > li .txt-stauts.completed:after {
  content: '';
  display: inline-block;
  width: 15px;
  height: 11px;
  background: url("../images/img-modal-ok.png") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  margin-left: 4px;
}

.verification-list > ul > li .txt-stauts.processing {
  display: block;
  color: #24B395;
}

.verification-list > ul > li .txt-stauts.processing:after {
  content: '';
  display: inline-block;
  width: 14px;
  height: 17px;
  background: url("../images/ico-processing.png") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  margin-left: 4px;
  vertical-align: middle;
}

.verification-list > ul > li .menu-item {
  font-weight: 500;
}

.verification-list > ul > li .menu-item-link {
  color: #24B395;
  font-weight: 400;
  text-decoration: underline;
  position: relative;
  padding-right: 14px;
}

.verification-list > ul > li .menu-item-link:after {
  content: '';
  width: 7px;
  height: 12px;
  background: url("../images/ico-arrow-r-c.png");
  -webkit-background-size: contain;
  background-size: contain;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.verification-list > ul > li .filter select {
  color: #767676;
  font-size: 14px;
  height: 25px;
  line-height: 1.4;
}

.verification-list > ul > li .verification-desc {
  margin-top: 10px;
  margin-bottom: 20px;
}

.cont-operation {
  margin-bottom: 14px;
  height: 21px;
}

.cont-operation .ico-al {
  width: 12px;
  height: 21px;
}

.cont-operation .ico-al:before {
  right: auto;
}

.cont-operation .ico-ar {
  width: 12px;
  height: 21px;
}

.info-container {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-image: -webkit-linear-gradient(335deg, #5b66ff 12%, #00ab97 92%);
  background-image: -o-linear-gradient(335deg, #5b66ff 12%, #00ab97 92%);
  background-image: linear-gradient(115deg, #5b66ff 12%, #00ab97 92%);
  padding: 19px 22px 22px;
  color: #fff;
  text-align: center;
  min-height: 112px;
  max-height: 192px;
  overflow: hidden;
  margin-bottom: 14px;
}

.info-container .txt-intro {
  position: absolute;
  top: 8px;
  left: 14px;
}

.info-container .link-card {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
}

.info-container .link-card + .btn-card-tab {
  margin-bottom: 6px;
}

.info-container.tight {
  padding: 0;
  position: relative;
}

.info-container.tight .link-card {
  padding: 14px 14px 23px;
}

.info-container.thin {
  padding: 0;
  position: relative;
}

.info-container.thin .link-card {
  padding: 0;
}

.info-container .info-safe-area {
  padding-bottom: 20px;
  padding-top: 19px;
}

.info-container h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 6px;
}

.info-container h3.thin {
  font-weight: 300;
  margin-bottom: -3px;
}

.info-container .number {
  font-size: 26px;
  font-weight: 300;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  letter-spacing: 0.5px;
}

.info-container p {
  font-size: 12px;
  line-height: 1.4;
  font-weight: 300;
}

.info-container + .form-group {
  margin-top: 40px;
}

.info-container + .form-group.margin {
  margin-top: 16px;
}

.btm-container {
  position: static;
  margin-top: 44px;
  width: 100%;
  left: 0;
  bottom: 16px;
}

.nav-side {
  text-align: center;
}

.nav-side.centered ul {
  margin-left: 10px;
}

.nav-side ul {
  *zoom: 1;
  display: inline-block;
  margin-top: 12px;
}

.nav-side ul:after {
  content: '';
  display: block;
  clear: both;
}

.nav-side ul li {
  float: left;
}

.nav-side ul li + li:before {
  content: '|';
  display: inline-block;
  margin: 0 12px;
  font-weight: 300;
  font-size: 10px;
  color: #f5f6f8;
  position: relative;
  bottom: 1px;
}

.nav-side ul li a {
  font-size: 12px;
  color: #f5f6f8;
  font-weight: 300;
}

.img-bitcoin {
  width: 30px;
}

.btn-card-tab {
  text-align: center;
}

.btn-card-tab ul {
  *zoom: 1;
  display: inline-block;
  background-color: rgba(244, 246, 249, 0.1);
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 32px;
  border-radius: 32px;
  position: relative;
}

.btn-card-tab ul .btn-in-ui {
  content: '';
  width: 50%;
  display: block;
  width: 50%;
  height: 100%;
  background: #fff;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.btn-card-tab ul:after {
  content: '';
  display: block;
  clear: both;
}

.btn-card-tab ul li {
  float: left;
  width: 106px;
  height: 32px;
  line-height: 32px;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.btn-card-tab ul li + li {
  left: 0;
}

.btn-card-tab ul li a {
  display: block;
  color: #F4F6F9;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.btn-card-tab ul li a:before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #F4F6F9;
  position: relative;
  bottom: 1px;
  margin-right: 12px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.btn-card-tab ul li.on {
  z-index: 1;
}

.btn-card-tab ul li.on a {
  color: #000;
  font-weight: 500;
}

.btn-card-tab ul li.on a:before {
  background: #f01847;
}

.title-tab .txt-list-tab {
  padding-top: 12px;
  padding-bottom: 0;
}

.title-tab .txt-list-tab.bar ul li.on a {
  color: #141E3B;
  position: relative;
}

.title-tab .txt-list-tab.bar ul li.on a:before {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: #141E3B;
  position: absolute;
  top: -7px;
  left: 0;
}

.txt-list-tab {
  padding-top: 6px;
  padding-bottom: 10px;
}

.txt-list-tab ul {
  *zoom: 1;
  display: block;
}

.txt-list-tab ul:after {
  content: '';
  display: block;
  clear: both;
}

.txt-list-tab ul li {
  float: left;
}

.txt-list-tab ul li + li {
  margin-left: 16px;
}

.txt-list-tab ul li a {
  color: #969BA1;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
}

.txt-list-tab.bar ul li.on.more a:after {
  background: url("../images/tab-ar-b.png") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

.txt-list-tab.bar ul li.on.more.off a:after {
  background: url("../images/tab-ar-t.png") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

.txt-list-tab.bar ul li.on a {
  color: #141E3B;
  position: relative;
}

.txt-list-tab.bar ul li.on a:before {
  content: '';
  display: block;
  width: 28px;
  height: 2px;
  margin-bottom: 8px;
  background: #141E3B;
  position: absolute;
  top: -8px;
  left: 0;
}

.txt-list-tab.bar ul li.more a:after {
  content: '';
  display: inline-block;
  width: 6px;
  height: 5px;
  background: url("../images/ico-filter-ar-b.png") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  vertical-align: middle;
  margin-left: 4px;
  position: relative;
  bottom: 2px;
}

.txt-list-tab.bar ul li.more.off a:after {
  background: url("../images/ico-filter-ar-t.png") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

.txt-list-tab.rounded {
  margin-top: -6px;
}

.txt-list-tab.rounded ul li a {
  font-size: 14px;
  font-weight: normal;
}

.txt-list-tab.rounded ul li.on a {
  display: block;
  text-align: center;
  color: #fff;
  background: #24B395;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  min-width: 54px;
  padding: 4px 10px;
}

.txt-list-tab.rounded ul li.on + li {
  margin-left: 12px;
}

.txt-list-tab.long-bar {
  padding-top: 3px;
}

.txt-list-tab.long-bar ul li a {
  font-size: 14px;
}

.txt-list-tab.long-bar ul li.on a {
  color: #141E3B;
  position: relative;
}

.txt-list-tab.long-bar ul li.on a:before {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: #141E3B;
  position: absolute;
  top: -7px;
  left: 0;
}

.tab-indicator {
  text-align: center;
  line-height: 1;
}

.tab-indicator ul {
  *zoom: 1;
  display: inline-block;
}

.tab-indicator ul:after {
  content: '';
  display: block;
  clear: both;
}

.tab-indicator ul li {
  float: left;
  width: 4px;
  height: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
}

.tab-indicator ul li + li {
  margin-left: 4px;
}

.tab-indicator ul li.on a {
  background-color: #141e3b;
}

.tab-indicator ul li a {
  display: block;
  text-indent: -9999px;
  width: 100%;
  height: 100%;
  background-color: #C4C4C4;
}

.coin-status {
  background: #fff;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 0 10px;
}

.coin-status ul {
  height: 50px;
  padding-bottom: 3px;
  *zoom: 1;
  display: block;
}

.coin-status ul:after {
  content: '';
  display: block;
  clear: both;
}

.coin-status ul li {
  display: table;
  height: 100%;
  float: left;
}

.coin-status ul li:nth-child(2) {
  width: 25%;
}

.coin-status ul li:nth-child(3) {
  width: 36%;
}

.coin-status ul li:last-child {
  width: 25%;
  text-align: right;
}

.coin-status ul li > div {
  display: table-cell;
  vertical-align: middle;
}

.coin-status ul li.coin-img {
  margin: 0 12px 0 0;
}

.coin-status ul li .desc {
  display: block;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.coin-status ul li .tit {
  display: block;
  color: #969BA1;
  font-size: 11px;
  line-height: 1;
  font-weight: 400;
}

.coin-status ul li .total {
  font-size: 16px;
  font-weight: bold;
  color: #f01847;
}

.qr-code-box {
  text-align: center;
  margin-bottom: 16px;
}

.qr-code-box span {
  color: #000;
  display: block;
  font-weight: 500;
  margin-bottom: 7px;
}

.qr-code-box .img-box {
  display: inline-block;
  border: 1px solid #000;
  margin-bottom: 16px;
}

.qr-code-box .img-box img {
  width: 94px;
}

.qr-code-box input {
  padding-left: 10px;
  padding-right: 10px;
  border-right: 0;
  color: #000;
  font-weight: 500;
  border: 1px solid #24b395;
  background: #fff;
}

.qr-code-box input:focus {
  border: 1px solid #24b395;
}

.interaction-scroll {
  height: 400px;
  overflow-y: auto;
}

.list-scroll {
  height: 244px;
  overflow-y: auto;
}

.tbl table {
  width: 100%;
}

.tbl table thead tr {
  background-color: #f4f4f4;
}

.tbl table thead tr th {
  font-size: 10px;
  color: #000;
  font-weight: normal;
  line-height: 1.4;
  padding-top: 6px;
  padding-bottom: 4px;
}

.tbl table thead tr th span {
  position: relative;
}

.tbl table thead tr th span:after {
  content: '';
  display: block;
  width: 2px;
  height: 10px;
  background: #C4C4C4;
  position: absolute;
  right: -10px;
  top: 0;
  bottom: 0;
  margin: auto;
  opacity: 0.5;
}

.tbl table tbody tr {
  border-bottom: 4px solid #f4f6f9;
}

.tbl table tbody td {
  background: #fff;
  color: #000;
  padding-top: 9px;
  padding-bottom: 7px;
  vertical-align: top;
}

.tbl table tbody td span {
  display: block;
}

.tbl table tbody td span em {
  display: inline-block;
  margin-left: 4px;
  color: #969BA1;
}

.tbl table tbody td span + span {
  margin-top: 3px;
}

.tbl table tbody td .btn {
  min-width: 70px;
  width: 70px;
  min-height: inherit;
  font-size: 12px;
  padding: 1px 10px 0px;
  font-weight: normal;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #24B395;
}

.tbl table tbody td .btn + .btn {
  margin-top: 4px;
}

.tbl table tr th,.tbl table tr td {
  font-size: 12px;
  font-weight: normal;
}

.tbl table tr th.center,.tbl table tr td.center {
  text-align: center;
}

.tbl table tr th.right,.tbl table tr td.right {
  text-align: right;
  padding-right: 16px;
}

.tbl table tr th.left,.tbl table tr td.left {
  text-align: left;
  padding-left: 16px;
}

.tbl table tr th.no-data,.tbl table tr td.no-data {
  min-height: 95px;
  line-height: 95px;
}

.tbl.lt-min.positionning {
  margin-top: -14px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.tbl.lt-min.positionning + .tbl {
  padding-top: 14px;
}

.tbl.lt-min.positionning.active {
  top: 138px;
}

.tbl.lt-min table thead tr th span,.tbl.lt-min table thead tr th select {
  letter-spacing: -0.5px;
}

.tbl.tbl-type1 table tbody td {
  padding-top: 12px;
  padding-bottom: 18px;
}

.tbl.tbl-type1 table tbody td.num {
  vertical-align: bottom;
  font-weight: 500;
  word-break: break-all;
}

.tbl.tbl-type1 table tbody td.num em {
  font-weight: 400;
}

.tbl.tbl-type1 table tbody td .tbl-link {
  color: #767676;
  text-decoration: underline;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 100%;
  height: 30px;
  line-height: 15px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  word-break: break-all;
}

.tbl.tbl-type1 table tbody td b {
  display: block;
  font-size: 14px;
  margin-bottom: 4px;
}

.tbl.tbl-type1 table tbody td b + em {
  display: block;
  line-height: 1.4;
}

.tbl.tbl-type1 table tbody td span + span {
  margin-top: 0;
  line-height: 1.2;
}

.tbl.tbl-type1 table tbody td.right {
  padding-left: 4px;
}

.tbl.tbl-type2 table thead tr th span {
  display: block;
}

.tbl.tbl-type2 table tbody tr + tr {
  border-top: 0;
}

.tbl.tbl-type2 table tbody tr td {
  color: #767676;
  vertical-align: middle;
}

.tbl.tbl-type2 table tbody tr td .tbl-link {
  display: inline-block;
  color: #767676;
  width: 200px;
  text-decoration: underline;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tbl-card-header {
  *zoom: 1;
  display: block;
  background-image: -webkit-linear-gradient(357deg, #5b66ff 23%, #00ab97 93%);
  background-image: -o-linear-gradient(357deg, #5b66ff 23%, #00ab97 93%);
  background-image: linear-gradient(93deg, #5b66ff 23%, #00ab97 93%);
  height: 30px;
  line-height: 30px;
  padding: 0 12px;
  -webkit-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}

.tbl-card-header:after {
  content: '';
  display: block;
  clear: both;
}

.tbl-card-header .tit {
  float: left;
  color: #fff;
  font-size: 12px;
}

.tbl-card-header .time {
  float: right;
  color: #f9fafc;
  font-size: 12px;
  font-weight: 300;
}

.tbl-card-body {
  background: #fff;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.tbl-card-body table {
  width: 100%;
}

.tbl-card-body table tr td,.tbl-card-body table tr th {
  padding-top: 10px;
  padding-left: 12px;
  padding-right: 12px;
}

.tbl-card-body table tr td.center,.tbl-card-body table tr th.center {
  text-align: center;
}

.tbl-card-body table tr td.right,.tbl-card-body table tr th.right {
  text-align: right;
}

.tbl-card-body table tr td.left,.tbl-card-body table tr th.left {
  text-align: left;
}

.tbl-card-body table tr td {
  padding-bottom: 8px;
}

.tbl-card-body table tr th {
  padding-bottom: 6px;
}

.tbl-card-body table thead th {
  color: #606060;
  font-size: 11px;
  line-height: 12px;
  font-weight: 300;
}

.tbl-card-body table thead th + th {
  border-left: 1px solid #f4f6f9;
}

.tbl-card-body table tbody td {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  padding-top: 0;
}

.tbl-card-body table tbody td + td {
  border-left: 1px solid #f4f6f9;
}

.modal {
  padding: 16px;
  position: relative;
  min-width: 100%;
  max-width: 100%;
  display: none;
  position: fixed;
  top: 50%;
  z-index: 99999;
  word-wrap: break-word;
}

.modal-inner {
  position: relative;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #fff;
  padding: 16px;
  -webkit-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16);
  max-width: 360px;
  margin: auto;
}

.modal-header {
  text-align: center;
}

.modal-header .img-box {
  height: 74px;
  width: 100%;
  position: relative;
}

.modal-header .img-box.congratulations {
  background: url("../images/img-modal-congratulations.png") no-repeat 74px 2px;
  -webkit-background-size: contain;
  background-size: contain;
}

.modal-header .img-box img {
  vertical-align: bottom;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.modal-header .img-box + p {
  padding-top: 0;
  padding-bottom: 22px;
}

.modal-header p {
  color: #000;
  font-weight: 500;
  font-size: 16px;
  margin-top: 10px;
  padding-top: 30px;
  padding-bottom: 6px;
}

.modal-header p img {
  position: relative;
  bottom: 2px;
  margin-right: 2px;
}

.modal-controller {
  position: absolute;
  top: 10px;
  right: 10px;
}

.modal-controller .ico-close:before {
  width: 15px;
  height: 15px;
}

.modal-body {
  text-align: center;
  padding: 0 0 18px 0;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 423px;
}

.modal-body .modal-cont + .modal-cont {
  margin-top: 16px;
}

.modal-body.scroll {
  overflow-y: auto;
  overflow-x: hidden;
}

.modal-body p {
  line-height: 1.4;
}

.modal-body p + .txt-guide {
  margin-top: 3px;
}

.modal-footer {
  *zoom: 1;
  display: block;
  padding-top: 12px;
}

.modal-footer:after {
  content: '';
  display: block;
  clear: both;
}

.modal-footer .row.col-2 .column {
  padding-right: 4px;
}

.modal-footer .row.col-2 .column + .column {
  padding-left: 4px;
  padding-right: 0;
}

.notice-bar {
  width: 100%;
  height: 50px;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 2;
  padding: 4px 0 1px 0;
  background-color: rgba(36, 179, 149, 0.8);
}

.notice-bar a {
  display: block;
  width: -webkit-calc(100% - 24px);
  width: calc(100% - 24px);
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  bottom: 1px;
}

.notice-bar a span {
  font-size: 14px;
  display: inline-block;
  margin-right: 6px;
  color: #141e3b;
  font-weight: bold;
}

.notice-bar .ico-close-w {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 6px;
  top: 0;
}

.tooltip-inner {
  color: #000;
  font-weight: 500;
  position: relative;
}

.tooltip-inner a {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  position: relative;
  bottom: 1px;
  text-indent: inherit;
}

.tooltip.left .tooltip-desc {
  left: 0;
}

.tooltip.left .tooltip-desc:after {
  left: 0;
  right: auto;
}

.tooltip.right .tooltip-desc {
  right: 0;
}

.tooltip.right .tooltip-desc:after {
  right: 0;
  left: auto;
}

.tooltip-desc {
  display: none;
  position: absolute;
  background: #fff;
  z-index: 2;
  min-width: 200px;
  max-width: 200px;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  padding: 16px 12px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  text-align: left;
  margin: auto;
}

.tooltip-desc:after {
  content: '';
  display: block;
  width: 20px;
  height: 16px;
  background: url("../images/img-tooltip-ab.png") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -16px;
  margin: auto;
}

.tooltip-desc p {
  color: #606060;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.3;
  font-style: italic;
}

.search-box {
  background-color: #fff;
  *zoom: 1;
  display: block;
  border-bottom: 1px solid #C4C4C4;
  position: relative;
  margin-bottom: 10px;
}

.search-box:after {
  content: '';
  display: block;
  clear: both;
}

.search-box:before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background: url("../images/ico-search.png") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.search-box + div {
  margin-top: 12px;
}

.search-box input[type="text"] {
  background: none;
  border: none;
  height: 30px;
  font-size: 11px;
  font-style: italic;
  width: 100%;
  padding-left: 24px;
}

.search-box .column-l {
  width: -webkit-calc(100% - 80px);
  width: calc(100% - 80px);
  float: left;
  position: relative;
}

.search-box .column-r {
  width: 80px;
  float: right;
}

.search-box .column-r label {
  position: relative;
  top: 1px;
}

.app-article {
  padding-top: 22px;
}

.app-block {
  border-bottom: 8px solid #f4f6f9;
  padding-bottom: 10px;
}

.app-bar {
  padding: 7px 16px 7px;
  background: #fff;
}

.app-bar .v-al .btn.rounded {
  margin-top: 4px;
}

.app-bar i {
  font-weight: 400;
}

.app-bar + .app-bar {
  border-top: 4px solid #f4f6f9;
}

.app-bar-tit {
  line-height: 30px;
  font-size: 14px;
  color: #141e3b;
  font-weight: 500;
}

.app-bar-tit em {
  font-size: 10px;
  color: #969ba1;
  font-weight: normal;
}

b.keycode {
  display: inline-block;
  line-height: 30px;
  vertical-align: top;
}

b.keycode + .btn {
  margin-left: 11px;
  vertical-align: top;
}

.upload-preview {
  width: 120px;
  height: 80px;
  border: 1px solid #c4c4c4;
  padding: 4px;
  position: relative;
  margin: 10px 0 14px;
  overflow: hidden;
}

.upload-preview:after {
  content: '';
  display: block;
  width: 33px;
  height: 25px;
  background: url("../images/ico-img.png");
  -webkit-background-size: contain;
  background-size: contain;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.upload-preview img {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 1;
}

/*******************************************
*   ETC detail Styling
********************************************/

.relative-item {
  position: relative;
}

.filter-position {
  position: fixed;
  right: 16px;
  margin-top: -34px;
  z-index: 2;
}

.filter-position + .product-list {
  padding-top: 10px;
}

.fixed-cont {
  padding-top: 14px;
}

.positionning {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.tabHistory_2 .positionning {
  margin-top: -5px;
}

.pt5 {
  padding-top: 5px !important;
}

/*******************************************
*    Library
********************************************/

.ui-datepicker {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #C4C4C4;
}

.ui-datepicker .ui-widget-header {
  background: none;
  border: none;
}

.ui-datepicker .ui-widget-header .ui-datepicker-title,.ui-datepicker .ui-widget-header .ui-datepicker-title span {
  font-size: 14px;
  font-weight: 600;
}

.ui-datepicker .ui-widget-header .ui-datepicker-next.ui-state-hover,.ui-datepicker .ui-widget-header .ui-datepicker-prev.ui-state-hover {
  background: none;
  border: none;
  opacity: 0.6;
}

.ui-datepicker .ui-widget-header .ui-datepicker-next span,.ui-datepicker .ui-widget-header .ui-datepicker-prev span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 7px;
  height: 12px;
}

.ui-datepicker .ui-widget-header .ui-datepicker-next span {
  background: url("../images/ico-arrow-r-sm.png");
  -webkit-background-size: contain;
  background-size: contain;
}

.ui-datepicker .ui-widget-header .ui-datepicker-prev span {
  background: url("../images/ico-arrow-l-sm.png");
  -webkit-background-size: contain;
  background-size: contain;
}

.ui-datepicker td {
  padding: 3px;
}

.ui-datepicker th {
  font-size: 12px;
}

.ui-datepicker .ui-state-default {
  padding: 3px;
  font-size: 12px;
  width: 25px;
  height: 25px;
  border: none;
  background: none;
  text-align: center;
}

.ui-datepicker .ui-state-default.ui-state-highlight {
  background: #24B395;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
}

.ui-datepicker .ui-state-default.ui-state-highlight.ui-state-hover {
  opacity: 1;
}

.ui-datepicker .ui-state-default.ui-state-active {
  background: #141E3B;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
}

.ui-datepicker .ui-state-default.ui-state-active.ui-state-hover {
  opacity: 1;
}

.ui-datepicker .ui-state-default.ui-state-hover {
  opacity: 0.5;
}

.ui-datepicker select.ui-datepicker-month,.ui-datepicker select.ui-datepicker-year {
  height: 30px;
  line-height: 30px;
  width: 50%;
}

.ui-datepicker select.ui-datepicker-year {
  border-right: 0;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

.ui-datepicker select.ui-datepicker-month {
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

.verification-list ul li span.like-label {
  font-size: 14px;
  color: #767676;
  font-weight: 500;
  text-indent: 0;
}

.block-link-box:first-child {
  margin-top: -14px;
}

.block-link-tit {
  height: 24px;
  line-height: 24px;
  font-size: 10px;
  color: #000;
  padding: 0 16px;
  background: #f4f4f4;
}

.block-link-inner {
  border-bottom: 4px solid #f4f6f9;
  position: relative;
}

.block-link-inner a {
  display: block;
  width: 100%;
  font-size: 12px;
  color: #767676;
  font-weight: normal;
  line-height: 1;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 18px 48px 18px 28px;
}

.block-link-inner a:after {
  content: '';
  display: block;
  width: 8px;
  height: 14px;
  background: url("../images/ico-link-block-arrow.png") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 17px;
  margin: auto;
}

.intro-box {
  width: 100%;
  height: 100vh;
  text-align: center;
  background: #f4f6f9;
  font-weight: normal;
  line-height: 2;
  position: relative;
}

.intro-box .slider-container,.intro-box .slider-item,.intro-box .slick-list,.intro-box .slick-track,.intro-box .slick-slide > div {
  height: 100%;
}

.intro-box .slider-item .vertical-layout {
  margin: auto;
}

.intro-box .slider-item .vertical-layout.intro1 {
  background: url("../images/Introduce_1.png") no-repeat center top;
  -webkit-background-size: contain;
  background-size: contain;
}

.intro-box .slider-item .vertical-layout.intro2 {
  background: url("../images/Introduce_2.png") no-repeat center top;
  -webkit-background-size: contain;
  background-size: contain;
}

.intro-box .slider-item .vertical-layout.intro3 {
  background: url("../images/Introduce_3.png") no-repeat center top;
  -webkit-background-size: contain;
  background-size: contain;
  position: relative;
  overflow: hidden;
}

.intro-box .slider-item .vertical-layout.intro3:after {
  content: '';
  display: block;
  width: 492px;
  height: 499px;
  background: url("../images/intro_deco_circle.png") no-repeat;
  position: absolute;
  -webkit-background-size: contain;
  background-size: contain;
  bottom: -120px;
  left: 50%;
  margin-left: -246px;
  z-index: -1;
}

.intro-box .slider-item .vertical-layout.intro3:before {
  content: none;
  display: block;
  width: 204px;
  height: 368px;
  background: url("../images/intro_deco_phone.png") no-repeat;
  position: absolute;
  -webkit-background-size: contain;
  background-size: contain;
  bottom: 80px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
}

.intro-box .slider-item .vertical-layout.intro4 {
  background: url("../images/Introduce_4.png") no-repeat center top;
  -webkit-background-size: contain;
  background-size: contain;
}

.intro-box .slider-item .vertical-layout.intro5 {
  background: url("../images/Introduce_5.png") no-repeat center top;
  -webkit-background-size: contain;
  background-size: contain;
}

.intro-box .vertical-layout {
  height: 100%;
}

.intro-box .intro-logo {
  width: 150px;
  margin: auto;
}

.intro-box .skip {
  position: absolute;
  bottom: 20px;
  right: 16px;
}

.intro-box .slick-dots-wrap {
  text-align: center;
  position: absolute;
  bottom: 60px;
  width: 100%;
}

.intro-box .check-again {
  position: absolute;
  bottom: 23px;
  left: 16px;
}

.intro-box .check-again label {
  font-size: 14px;
  font-weight: 500;
}

.intro-box .check-again input[type="checkbox"] + label:before {
  width: 20px;
  height: 20px;
}

.intro-box .slick-dots {
  *zoom: 1;
  display: inline-block !important;
}

.intro-box .slick-dots:after {
  content: '';
  display: block;
  clear: both;
}

.intro-box .slick-dots li {
  float: left;
}

.intro-box .slick-dots li + li {
  margin-left: 4px;
}

.intro-box .slick-dots li.slick-active button {
  background: #24B395;
  width: 15px;
}

.intro-box .slick-dots li button {
  text-indent: -9999px;
  background: #c4c4c4;
  width: 5px;
  height: 5px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.intro-box .ico-close-w {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 6px;
  top: 0;
}

/* 0105 추가 */

.ellipsis-area {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 170px;
  padding: 4px 0 4px;
}

.fix-button-area.overay {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.textarea {
  color: #616161;
  border: 1px solid #c4c4c4;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
}

input[type=text].input-deep {
  color: #616161;
}

.verification-desc + .form-group {
  margin-top: 15px;
}

.input + .verification-list {
  margin-top: 10px;
}

.inquiry-tit {
  *zoom: 1;
  display: block;
  background: #f4f6f9;
  padding: 12px 16px;
}

.inquiry-tit:after {
  content: '';
  display: block;
  clear: both;
}

.inquiry-tit .tit {
  font-size: 14px;
  font-weight: bold;
}

.inquiry-tit .left {
  float: left;
}

.inquiry-tit .right {
  float: right;
}

.inquiry-tit .side {
  font-size: 12px;
  color: #767676;
  font-weight: normal;
}

.inquir-article p + .row {
  *zoom: 1;
  display: block;
  margin-top: 23px;
  margin-bottom: 27px;
}

.inquir-article p + .row:after {
  content: '';
  display: block;
  clear: both;
}

.inquiry-reply-box {
  text-align: right;
}

.inquiry-reply-box .upload-preview {
  float: right;
}

/* 0109 css 약관 표 스타일 추가 */

.tbl.terms table thead tr {
  border-bottom-width: 1px;
}

.tbl.terms table thead tr th,.tbl.terms table thead tr td {
  vertical-align: middle;
  padding: 6px;
  font-size: 11px;
}

.tbl.terms table thead tr th + th,.tbl.terms table thead tr th + td,.tbl.terms table thead tr td + th,.tbl.terms table thead tr td + td {
  border-left: 1px solid #e7e7e7;
}

.tbl.terms table tbody tr {
  border-bottom-width: 1px;
}

.tbl.terms table tbody tr th,.tbl.terms table tbody tr td {
  vertical-align: middle;
  padding: 6px;
  font-size: 11px;
}

.tbl.terms table tbody tr th + th,.tbl.terms table tbody tr th + td,.tbl.terms table tbody tr td + th,.tbl.terms table tbody tr td + td {
  border-left: 1px solid #f4f6f9;
}

/* 0113 css 추가 */

.modal.terms .modal-cont {
  text-align: left;
}

.modal.terms .modal-cont .terms-title-type {
  margin: 30px 0 10px;
  font-size: 15px;
}

.modal.terms .modal-cont .terms-title-type.big {
  /* 0116  */
  font-size: 17px;
}

.modal.terms .modal-cont .terms-title-type + .terms-title-type {
  /* 0116  */
  margin-top: -5px;
}

.modal.terms .modal-cont .terms-text-type {
  margin: 10px 0;
  font-size: 11px;
  line-height: 1.8;
}

.modal.terms .modal-cont .terms-numlist-type {
  margin: 10px 0;
}

.modal.terms .modal-cont .terms-numlist-type li {
  font-size: 11px;
}

.modal.terms .modal-cont .terms-numlist-type li .terms-numlist-type,.modal.terms .modal-cont .terms-numlist-type li .terms-list-type {
  /* 0116  */
  padding-left: 14px;
}

.modal.terms .modal-cont .terms-numlist-type li + li {
  margin-top: 8px;
}

.modal.terms .modal-cont .terms-numlist-type li .tbl {
  margin: 10px 0;
}

.modal.terms .modal-cont .terms-list-type {
  margin: 10px 0;
}

.modal.terms .modal-cont .terms-list-type li {
  font-size: 11px;
  position: relative;
  padding-left: 6px;
}

.modal.terms .modal-cont .terms-list-type li + li {
  margin-top: 8px;
}

.modal.terms .modal-cont .terms-list-type li .tbl {
  margin: 10px 0;
}

.modal.terms .modal-cont .terms-list-type li:before {
  content: '-';
  display: inline;
  position: absolute;
  top: 0;
  left: 0;
}

.modal.terms .modal-cont .terms-list-type + .tbl {
  margin: 10px 0 20px;
}

/**/