$FontPath: "../fonts" !default;
$FontName: "Roboto" !default;
$FontVersion: "2.137" !default;

@mixin fontdef-woff($FontPath, $FontName, $FontVersion:"1.0.0", $FontType:"Regular") {
	src:	url('#{$FontPath}/#{$FontType}/#{$FontName}-#{$FontType}.woff2?v=#{$FontVersion}') format('woff2'),
			url('#{$FontPath}/#{$FontType}/#{$FontName}-#{$FontType}.woff?v=#{$FontVersion}') format('woff');
}

@font-face {
	font-family: Roboto;
	@include fontdef-woff($FontPath, $FontName, $FontVersion, "Black");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
	@include fontdef-woff($FontPath, $FontName, $FontVersion, "BlackItalic");
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: Roboto;
	@include fontdef-woff($FontPath, $FontName, $FontVersion, "Bold");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
	@include fontdef-woff($FontPath, $FontName, $FontVersion, "Bold");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
	@include fontdef-woff($FontPath, $FontName, $FontVersion, "BoldItalic");
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: Roboto;
	@include fontdef-woff($FontPath, $FontName, $FontVersion, "BoldItalic");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: Roboto;
	@include fontdef-woff($FontPath, $FontName, $FontVersion, "Medium");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
	@include fontdef-woff($FontPath, $FontName, $FontVersion, "MediumItalic");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: Roboto;
	@include fontdef-woff($FontPath, $FontName, $FontVersion, "Regular");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
	@include fontdef-woff($FontPath, $FontName, $FontVersion, "Regular");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
	@include fontdef-woff($FontPath, $FontName, $FontVersion, "Italic");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: Roboto;
	@include fontdef-woff($FontPath, $FontName, $FontVersion, "Italic");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: Roboto;
	@include fontdef-woff($FontPath, $FontName, $FontVersion, "Light");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
	@include fontdef-woff($FontPath, $FontName, $FontVersion, "LightItalic");
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: Roboto;
	@include fontdef-woff($FontPath, $FontName, $FontVersion, "Thin");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
	@include fontdef-woff($FontPath, $FontName, $FontVersion, "ThinItalic");
	font-weight: 100;
	font-style: italic;
}
