$rec-primary: #24B395;
$rec-secondary: #5B66FF;
$rec-textColor : #616161;
$rec-textColor-light : #969BA1;
$rec-line-light: #C4C4C4;
$rec-line-dark: #333333;
$rec-point: #F01847;
$rec-bg: #F4F6F9;
$rec-bg-dark: #141E3B;
$rec-line-white: #f4f6f9;



@mixin clearfix{
    *zoom: 1;
    display: block;
    &:after{
        content:'';
        display: block;
        clear: both;
    }
}

@mixin hide{
    display: block;
    text-indent:-9999px;
    font-size:0;
}

@mixin Roboto{
    font-family: 'Roboto', sans-serif;
}


@mixin rounded($radius){
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin transition($property){
    -webkit-transition: $property .3s ease;
    -moz-transition: $property .3s ease;
    -o-transition: $property .3s ease;
    transition: $property .3s ease;
}

@mixin placeholder-color ($color, $opacity) {
    &::-webkit-input-placeholder {
        color: $color;
        opacity: $opacity;
    }
    &:-moz-placeholder {
        color: $color;
        opacity: $opacity;
    }
    &::-moz-placeholder {
        color: $color;
        opacity: $opacity;
    }
    &:-ms-input-placeholder {
        color: $color;
        opacity: $opacity;
    }
}

@mixin shadow($x, $y, $blur, $color){
    -webkit-box-shadow: $x $y $blur $color;
    -moz-box-shadow: $x $y $blur $color;
    box-shadow: $x $y $blur $color;
}

@mixin sprImg{
    background-image: url(../images/spr_global.png);
    background-size: 600px 600px;
}
