.ie{

}

.firefox{

}

.chrome{

}

.safari{

}

.ios{
    #container, header .app-inner, footer, .btm-container,.app-section{
        // max-width: 414px;
    }
    .modal{
        &-inner{
            // max-width: 414px;
        }
    }

}
