<footer>
    <div class="app-inner">
        <div class="logo"><a href="A_00.html">Trabo</a></div>

        <span>
            Copyright 2019  trabo.ai All Rights Reserved.<br />
            <a href="mailto:support@trabo.ai">Email : support@trabo.ai</a>
        </span>

        <!-- 1118 추가 -->
        <div class="fnb">
            <ul>
                <li><a href="#" target="_blank">Privacy Policy</a></li>
                <li><a href="#" target="_blank">User Guide</a></li>
                <li><a href="#" target="_blank">Terms of Use</a></li>
                <li><a href="#" target="_blank">Fees Policy</a></li>
            </ul>
        </div>

        <div class="sns-list">
            <div class="sns-list-tit">Social media</div>
            <ul>
                <li><a class="tw" href="#">Twiter</a></li>
                <li><a class="ka" href="#">kakao</a></li>
                <!-- <li><a class="fb" href="#">Facebook</a></li> -->
                <li><a class="te" href="#">Telegram</a></li>
                <!-- <li><a class="mm" href="#">-</a></li> -->
            </ul>
        </div>


    </div>
</footer>
