<head>
    <title>Trabo</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=3.0"> -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <meta name="title" content="Trabo" />

    <meta property="og:type" content="website">
    <meta property="og:title" content="Trabo">
    <!-- <meta property="og:image" content="http://url.co.kr/common/images/meta_guide.png"> -->
    <meta property="og:description" content="Trabo"/>

    <!-- TODO: library -->
    <script src="assets/js/lib/jquery.min.js"></script>
    <script src="assets/js/lib/jquery-ui.js"></script>
    <link rel="stylesheet" href="assets/css/lib/jquery-ui.css">
    <!-- 1114 라이브러리 추가 -->
    <script src="assets/js/lib/slick.js"></script>
    <link rel="stylesheet" href="assets/css/lib/slick.css">


    <!-- TODO: import -->
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="assets/js/scripts.js"></script>

    <!--[if lt IE 9]>
    <script src="assets/js/lib/html5shiv.js"></script>
    <script src="assets/js/lib/placeholders.js"></script>
    <![endif]-->
</head>
