<header>
    <div class="app-inner">
        <div class="cont-operation">
            <a href="#" class="txt-intro">
                <span>
                    <span class="ico ico-al">back</span>
                    <i>Trabo Wallet <em>Custody Asset</em><em>$ 123,987,600</em></i>
                </span>
            </a>
        </div>

        <a class="btn-gnb" href="#">Menu</a>
    </div>
    <div class="gnb-container">
        <div class="gnb-header">
            <div class="user-info">
                <!-- 1119 삭제 -->
                <!-- <div class="uesr-img">
                    <div class="img-box">
                        <img src="assets/images/img-user.png" alt="User Picture">
                    </div>

                    <span class="user-alram">alram</span>
                </div> -->

                <span class="user-account"><i>Jason@naver.com</i></span>
            </div>

            <div class="nav-ctl">
                <a class="ico ico-setting" href="E_01.html">Settings</a>
                <a class="ico ico-close" href="#">Close</a>
            </div>
        </div>

        <div class="gnb-body">
            <nav class="gnb">
                <ul>
                    <!-- gnb 활성화 클래스 .on -->
                    <li><a href="A_00_01.html">Home</a></li>
                    <li><a href="A_02_01.html">My Wallet</a></li>
                    <li><a href="A_01_02.html">My CFD Asset</a></li>
                    <li class="on"><a href="C_01.html">Account Info</a></li>
                    <li><a href="D_01.html">Verification</a></li>
                    <li><a href="B_01.html">Referral</a></li>
                    <li><a href="F_01_01.html">Support</a></li>
                    <li><a href="I_01_01.html">Log Out</a></li>
                </ul>
            </nav>
        </div>

        <div class="gnb-footer">
            <img src="assets/images/logo-b.png" alt="Trabo">
        </div>
    </div>
</header>
